<table class="table">
    <thead>
        <tr>
            <th class="text-center">#</th>
            <th>Next FollowUp</th>
            <th>Person Name</th>
            <th>Phone Number</th>
            <th>Email Address</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {{#each leads as |lead|}}
        <tr>
            <td class="text-center">{{inc @index}}</td>
            <td>{{nextFollowUp}}</td>
            <td>{{name}}</td>
            <td>{{phone}}</td>
            <td style="max-width: 170px">{{email}}</td>
            <td><button class="btn btn-block btn-info btn-sm rounded-0 lead-respond-button" data-lead-id="{{_id}}"
                    data-tuition-id="{{tuitionId}}">Respond</button></td>
        </tr>
        {{else}}
        <tr>
            <td></td>
            <td></td>
            <td><small class="text-danger">No Leads to show</small></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        {{/each}}
    </tbody>
</table>