<div style="padding: 30px">
	<div class="row">
		{{#each errors as |error|}}
		<div class="alert alert-warning col-12" role="alert">
			Roll Number: {{error.rollNumber}} Error: {{error.message}}
		</div>
		{{/each}}
	</div>
	<div class="row font-weight-bold my-2" id="header_row" data-tuition-id="{{tuitionId}}">
		<div class="col-2">
			#
		</div>
		<div class="col-2">
			Roll Number
		</div>
		<div class="col-2">
			Name
		</div>
		<div class="col-3">
			Outstanding Fee
		</div>
	</div>
	{{#each students as |student|}}
	<div class="row attendace-student-row" data-student-id="{{_id}}" style="border-bottom: 1px solid rgba(0, 0, 0, 0.1)">
		<div class="col-2">
			{{inc @index}}
		</div>
		<div class="col-2">
			{{rollNumber}}
		</div>
		<div class="col-2">
			{{name}}
		</div>
		<div class="col-3">
			{{outStandingFee}}
		</div>
	</div>
	{{/each}}
</div>