{{#each batches}}
<div class="col-md-4" id="{{_id}}">
    <div class="card">
        <div class="card-body ">
            <h4 class="card-title" data-toggle="modal" data-target="#editBatchModal{{_id}}">
                <a href="#pablo">{{code}}</a>
            </h4>
            <p class="card-text">
                {{description}}
            </p>
            <p class="card-text">
                <small class="text-secondary">Course:</small>
                <small class="text-danger">{{courseCode}}</small>
            </p>
        </div>
        <div class="card-footer ">
            <div class="stats ml-auto">
                <i class="material-icons delete-batch-btn" style="top: 0%; cursor: pointer;" data-batch-id="{{_id}}"
                    data-tuition-id="{{tuitionId}}" data-course-id="{{courseId}}">delete</i>
                <i class="material-icons batch-edit" style="top: 0%; cursor: pointer;" data-batch-id="{{_id}}"
                    data-tuition-id="{{tuitionId}}" data-course-id="{{courseId}}">edit</i>
            </div>
        </div>
    </div>
</div>
{{/each}}