<div class="card">
	<div class="card-body p-0">
		<div class="card bg-info m-0 rounded-0">
			<div class="card-body">
				<div class="row">
					<div class="col-md-2 font-weight-bold">
						<h6>Course Code:</h6>
					</div>
					<div class="col-md-2">
						<h6 class="font-weight-normal text-center" style="border:1px solid;">Chemistry</h6>
					</div>
					<div class="col-md-2 font-weight-bold">
						<h6>Course Fee:</h6>
					</div>
					<div class="col-md-2">
						<h6 class="font-weight-normal text-center" style="border:1px solid;">7777</h6>
					</div>
					<div class="col-md-3 font-weight-bold">
						<h6>Discount Amount:</h6>
					</div>
					<div class="col-md-1 pl-0 pr-0">
						<h6 class="font-weight-normal text-center" style="border:1px solid;">9000</h6>
					</div>
					<div class="col-md-2 font-weight-bold">
						<h6>Discount Reason:</h6>
					</div>
					<div class="col-md-2">
						<h6 class="font-weight-normal text-center" style="border:1px solid;">7777</h6>
					</div>
					<div class="col-md-2 font-weight-bold">
						<h6>Net Fee:</h6>
					</div>
					<div class="col-md-2">
						<h6 class="font-weight-normal text-center" style="border:1px solid;">7777</h6>
					</div>
					<div class="col-md-3 font-weight-bold">
						<h6> Pending Balance:</h6>
					</div>
					<div class="col-md-1 pl-0 pr-0">
						<h6 class="font-weight-normal text-center" style="border:1px solid;">7777</h6>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 font-weight-bold">
						<h6>Next Installment Date:</h6>
					</div>
					<div class="col-md-3 text-danger text-center">
						<h6 class="font-weight-normal text-center" style="border:1px solid white;">12/2/2018</h6>
					</div>
				</div>
			</div>
			<div class="card-footer">
				<div class="stats ml-auto">
					<i class="material-icons delete-payment-btn" style="top: 0%; cursor: pointer;" data-student-id="{{../_id}}"
					 data-payment-id="{{payment._id}}" data-tuition-id="{{../tuitionId}}">delete</i>
					<i class="material-icons payment-edit-btn" style="top: 0%; cursor: pointer;" data-student-id="{{../_id}}"
					 data-payment-id="{{payment._id}}" data-tuition-id="{{../tuitionId}}">edit</i>
				</div>
			</div>
		</div>
		<div class="px-3">
			<div class="card">
				<div class="card-body">
					<div class="card-title m-0 h4 mb-3">Installment {{inc @index}}</div>
					<div class="row">
						<div class="col-md-2 font-weight-bold">
							<h6>Collected Fee:</h6>
						</div>
						<div class="col-md-2">
							<h6 class="font-weight-normal text-center" style="border:1px solid #00bcd4;">12/2/2018</h6>
						</div>
						<div class="col-md-2 font-weight-bold">
							<h6>Payment Mode:</h6>
						</div>
						<div class="col-md-2">
							<h6 class="font-weight-normal text-center" style="border:1px solid #00bcd4;">12/2/2018</h6>
						</div>
						<div class="col-md-2 font-weight-bold">
							<h6>Bank Name:</h6>
						</div>
						<div class="col-md-2">
							<h6 class="font-weight-normal text-center" style="border:1px solid #00bcd4;">12/2/2018</h6>
						</div>
						<div class="col-md-2 font-weight-bold">
							<h6>Date Of Cheque:</h6>
						</div>
						<div class="col-md-2">
							<h6 class="font-weight-normal text-center" style="border:1px solid #00bcd4;">12/2/2018</h6>
						</div>
						<div class="col-md-2 font-weight-bold">
							<h6>Cheque Number:</h6>
						</div>
						<div class="col-md-2">
							<h6 class="font-weight-normal text-center" style="border:1px solid #00bcd4;">12/2/2018</h6>
						</div>

						<div class="col-md-2 font-weight-bold">
							<h6>Card Number:</h6>
						</div>
						<div class="col-md-2">
							<h6 class="font-weight-normal text-center" style="border:1px solid #00bcd4;">12/2/2018</h6>
						</div>

						<div class="col-md-2 font-weight-bold">
							<h6>Transaction Id:</h6>
						</div>
						<div class="col-md-2">
							<h6 class="font-weight-normal text-center" style="border:1px solid #00bcd4;">12/2/2018</h6>
						</div>
					</div>
					<div class="card-footer p-0">
						<div class="stats ml-auto">
							<i class="material-icons delete-installment-btn" style="color:#00bcd4;top: 0%; cursor: pointer;" data-student-id="{{../../_id}}"
							 data-payment-id="{{payment._id}}" data-tuition-id="{{../../tuitionId}}" data-installment-id="{{installment._id}}">delete</i>
							<i class="material-icons installment-edit-btn" style="color:#00bcd4;top: 0%; cursor: pointer;" data-student-id="{{../../_id}}"
							 data-payment-id="{{payment._id}}" data-tuition-id="{{../../tuitionId}}" data-installment-id="{{installment._id}}">edit</i>
						</div>
					</div>
				</div>
			</div>
			<div class="card">
				<form class="add-installment-form" data-tuition-id="{{../tuitionId}}" data-student-id="{{../_id}}" data-payment-id="{{payment._id}}">
					<div class="card-body">
						<div class="card-title m-0 h4 text-info mb-3">Add New Installment</div>
						<div class="row">
							<div class="col-md-3 font-weight-bold">
								Collected Fee:
							</div>
							<div class="col-md-3">
								<input class="w-100 form-control" type="number" name="feeCollected">
							</div>
							<div class="col-md-3 font-weight-bold">
								Mode Of Payment:
							</div>
							<div class="col-md-3">
								<select name="modeOfPayment" class="form-control w-100 finance-mode-of-payment-select" data-tuition-id={{../tuitionId}}>
									<option value="cash">Cash</option>
									<option value="cheque">Cheque</option>
									<option value="card">Card</option>
									<option value="other">Other</option>
								</select>
							</div>
							<div class="col-12 mt-3">
								<div class="row finance-mode-of-payment-details-container" data-tuition-id="{{../tuitionId}}"></div>
							</div>
						</div>
						<div class="card-footer p-0">
							<div class="stats ml-auto">
								<button class="btn btn-sm btn-round btn-success" style="top: 0%; cursor: pointer;">Add</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>