<div class="row form-group">
    <label for="curriculumSchool">Curriculum</label>
    <input id="curriculumSchool" class="form-control" type="text" value="{{curriculum}}" name="curriculum">
</div>
<div class="row form-group">
    <label for="grades">Grades</label>
    <input id="grades" class="form-control" type="text" value="{{grades}}" name="grades">
</div>

<div class="row form-group">
    <label for="type">Type Of Schooling</label>
    <input id="grades" class="form-control" type="text" value="{{type}}" name="type">
</div>

<div class="row form-group">
    <label for="principalName">Head Of School</label>
    <input id="principalName" class="form-control" type="text"
           name="principalName" value="{{principalName}}">
</div>
<div class="row form-group">
    <label for="yearFounded">Founded</label>
    <input id="yearFounded" class="form-control" type="number" name="yearFounded" value="{{yearFounded}}">
</div>