{{#each students}}
<div class="col-md-4" id="{{_id}}">
    <div class="card finance-card" style="cursor: pointer" data-student-id="{{_id}}">
        <div class="card-body ">
            <div class="card-title">
                <span class="" style="text-transform: uppercase">{{name}}</span>
            </div>
            <p class="card-text mb-0">
                <small class="text-secondary">Roll Number:</small>
                <small class="text-danger" style="text-transform: uppercase">{{rollNumber}}</small>
            </p>
            <p class="card-text mb-0">
                <small class="text-secondary">Contact Number:</small>
                <small class="text-danger" style="text-transform: uppercase">{{contactNumber}}</small>
            </p>
        </div>
    </div>
</div>
{{/each}}