{{#each forums as |post|}}
<div class="card m-1" id="{{post._id}}">
    <div class="card-body">
        <div class="row">
            <h4 class="card-title m-0 p-0 col-12 post-heading" data-post-id="{{post._id}}" data-tuition-id="{{tuitionId}}" style="cursor: pointer">{{post.title}}</h4>
            <small>
                <span class="text-secondary">posted</span>
                <span class="text-info">{{post.fromNow}}</span> <span class="text-secondary">by </span>
                {{post.tuitionName}}
            </small>
        </div>
        <div class="row">
            <small class="text-secondary">
                <span class="text-info">{{post.comments.length}}</span> comments
            </small>
        </div>
        <div class="card-footer p-0">
            <div class="stats ml-auto">
                <i class="material-icons delete-forum-btn" style="top: 0%; cursor: pointer;" data-tuition-id="{{post.tuitionId}}"
                    data-forum-id="{{post._id}}">delete</i>
                <i class="material-icons edit-forum-btn" style="top: 0%; cursor: pointer;" data-tuition-id="{{post.tuitionId}}"
                    data-forum-id="{{post._id}}">edit</i>
            </div>
        </div>
    </div>
</div>
{{/each}}