<div class="tab-pane sm-tab" id="tab{{tabNumber}}">
	<div class="card bg-info m-0">
		<div class="card-body px-3">
			<h3 class="card-title text-dark" data-id="{{_id}}" data-tabNumber="{{tabNumber}}">
				{{name}}
			</h3>
			<h5 class="card-title">
				Study Monitor
			</h5>
		</div>
	</div>
	<ul class="nav nav-pills nav-pills-success mt-3">
		<li class="nav-item"><a class="nav-link active rounded-0" href="#pill1{{tabNumber}}" data-toggle="tab">Configure</a></li>
		<li class="nav-item"><a class="nav-link rounded-0" href="#pill2{{tabNumber}}" data-toggle="tab">Promoter</a></li>
		<li class="nav-item"><a class="nav-link rounded-0" href="#pill3{{tabNumber}}" data-toggle="tab">Communicator</a></li>
		<li class="nav-item"><a class="nav-link rounded-0" href="#pill4{{tabNumber}}" data-toggle="tab">Schedule</a></li>
		<li class="nav-item"><a class="nav-link rounded-0" href="#pill5{{tabNumber}}" data-toggle="tab">Attendance</a></li>
		<li class="nav-item"><a class="nav-link rounded-0" href="#pill6{{tabNumber}}" data-toggle="tab">Upcoming Installments</a></li>
	</ul>
	<hr>
	<div class="tab-content tab-space">
		<div class="tab-pane active" id="pill1{{tabNumber}}">
			<div class="row m-0">
				<div class="col-md-2" style="border-right: 1px solid rgba(0, 0, 0, 0.1)">
					<ul class="nav nav-pills nav-pills-success flex-column">
						<li class="nav-item"><a class="nav-link active rounded-0" href="#innertab1{{tabNumber}}" data-toggle="tab">Courses</a></li>
						<li class="nav-item"><a class="nav-link rounded-0" href="#innertab3{{tabNumber}}" data-toggle="tab">Batches</a></li>
						<li class="nav-item"><a class="nav-link rounded-0" href="#innertab2{{tabNumber}}" data-toggle="tab">Students</a></li>
						<li class="nav-item"><a class="nav-link rounded-0" href="#innertab4{{tabNumber}}" data-toggle="tab">Finance</a></li>
						<li class="nav-item"><a class="nav-link rounded-0" href="#innertab5{{tabNumber}}" data-toggle="tab">Discounts</a></li>
					</ul>
				</div>
				<div class="col-md-10">
					<div class="tab-content">
						<div class="tab-pane active" id="innertab1{{tabNumber}}">
							<div class="row m-0">
								<div class="card-title col-12 h3 bg-info">
									Active Courses
								</div>
								<div class="col-12">
									<div class="row">
										{{!-- FIXME: moved to new hbs file --}}
									</div>
									<div class="row active-course-container" data-tuition-id="{{_id}}">

									</div>
								</div>
								<div class="inactive-course-container"></div>
								<div class="card m-0 mb-4">
									<form class="add_course_form" data-tabNumber="{{tabNumber}}" data-id="{{_id}}">
										<div class="row card-body">
											<div class="card-title h3 col-12 bg-info">
												Add New Course/Product
											</div>
											<div class="col-md-6">
												<div class="form-group label-floating is-empty  bmd-form-group">
													<label for="bmd-label-floating">Course Code (unique)</label>
													<input name="code" class="form-control add-course-code-input" type="text" data-tuition-id="{{_id}}"
													 required>
													<span class="material-input"></span>
												</div>
												<div class="form-group label-floating  is-empty bmd-form-group">
													<label for="bmd-label-floating">Description (optional)</label>
													<textarea name="description" class="form-control" rows="4"></textarea>
													<span class="material-input"></span>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group label-floating is-empty  bmd-form-group">
													<label for="bmd-label-floating">Course Fee</label>
													<input name="fees" type="number" class="form-control fee-inp" data-tuition-id="{{_id}}" required
													 data-tabNumber="{{tabNumber}}">
													<span class="material-input"></span>
												</div>
												<div class="form-check">
													<label class="form-check-label">
														<input class="form-check-input gst-checkbox" type="checkbox" value="true" data-tuition-id="{{_id}}"
														 data-tabNumber="{{tabNumber}}">
														inclusive of taxes
														<span class="form-check-sign">
															<span class="check"></span>
														</span>
													</label>
												</div>
												<div class="form-group label-floating  is-empty bmd-form-group">
													<label for="bmd-label-floating">GST (%)</label>
													<input name="gstPercentage" type="number" step="0.01" class="form-control gst-inp" data-tuition-id="{{_id}}"
													 data-tabNumber="{{tabNumber}}">
													<span class="material-input"></span>
												</div>
												<div class="form-group label-floating  is-empty bmd-form-group">
													<label for="bmd-label-floating">Total Fee</label>
													<input type="number" class="form-control total-fee" data-tabNumber="{{tabNumber}}" data-tuition-id="{{_id}}"
													 disabled>
													<span class="material-input"></span>
												</div>
											</div>
											<div class="col-md-6">
											</div>
											<div class="col-md-6">
												<button type="submit" class="btn btn-round btn-success pull-right">
													ADD Course
													<div class="ripple-container"></div>
												</button>
											</div>
										</div>
									</form>
								</div>
								<div class="modal fade bd-example-modal-lg" id="editCourseModal{{course._id}}" tabindex="-1" role="dialog"
								 aria-labelledby="exampleModalLabel" aria-hidden="true">
									<div class="modal-dialog modal-lg" role="document">
										<div class="modal-content">
											<div class="modal-body p-0">
												<div class="card my-0 bg-info">
													<div class="card-body pt-0 pb-0">
														<h3 class="card-title my-2">
															<a href="#pablo" class="text-dark">{{course.code}}</a>
														</h3>
													</div>
												</div>
												<div class="card my-0">
													<div class="card-body ">
														<div class="row align-items-center justify-content-around">
															<div class="col-sm-12 col-xs-12 mt-1">
																<div class="row">
																	<div class="col-md-4 pt-0 pb-0 border border-white">
																		<span class="input-group-addon" style="font-size: 12px;">
																			COURSE CODE
																		</span>
																	</div>
																	<div class="col-md-8 p-0">
																		<input name="code" type="text" class="form-control bg-white" placeholder="COURSE CODE" value="{{course.code}}">
																	</div>
																</div>
															</div>
															<div class="col-sm-12 col-xs-12 mt-1">
																<div class="row">
																	<div class="col-md-4 pt-0 pb-0">
																		<span class="input-group-addon" style="font-size: 12px;">
																			DESCRIPTION
																		</span>
																	</div>
																	<div class="col-md-8 p-0">
																		<input name="description" type="text" class="form-control bg-white" placeholder="DESCRIPTION" value="{{course.description}}">
																	</div>
																</div>
															</div>
															<div class="col-sm-12 col-xs-12 mt-1">
																<div class="row">
																	<div class="col-md-4 pt-0 pb-0 border border-white">
																		<span class="input-group-addon" style="font-size: 12px">
																			COURSE FEE
																		</span>
																	</div>
																	<div class="col-md-8 p-0">
																		<input name="fees" type="text" class="form-control bg-white fee-inp" placeholder="COURSE FEE" value="{{course.fees}}"
																		 data-tabNumber="{{course._id}}">
																	</div>
																</div>
															</div>
															<div class="col-sm-12 col-xs-12 mt-1">
																<div class="row">
																	<div class="col-md-4 pt-0 pb-0 border border-white">
																		<span class="input-group-addon" style="font-size: 12px;">
																		</span>
																	</div>
																	<div class="col-md-8 p-0">
																		<div class="row">
																			<div class="col-md-6">
																				<div class="form-check">
																					<label class="form-check-label">
																						<input class="form-check-input gst-checkbox" type="checkbox" data-tabNumber="{{course._id}}">
																						INCLUSIVE OF GST
																						<span class="form-check-sign">
																							<span class="check"></span>
																						</span>
																					</label>
																				</div>
																			</div>
																			<div class="col-md-6">
																				<div class="row">
																					<div class="col-md-3 pl-0 pr-0">
																						<input name="gst" type="text" class="form-control bg-white border rounded  mt-3 gst-inp" style="height:24px;"
																						 value="{{course.gst}}" data-tabNumber="{{course._id}}">
																					</div>
																					<div class="col-md-9 pl-0 pr-0 mt-3">
																						<p>GST PERCENTAGE</p>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="row align-items-center justify-content-around">
															<div class="col-sm-12 col-xs-12 mt-1">
																<div class="row">
																	<div class="col-md-4 pt-0 pb-0 border border-white">
																		<span class="input-group-addon" style="font-size: 12px;">
																			TOTAL FEE
																		</span>
																	</div>
																	<div class="col-md-8 p-0">
																		<input type="text" class="form-control bg-white total-fee" placeholder="TOTAL FEE" data-tabNumber="{{course._id}}">
																	</div>
																</div>
															</div>
															<div class="col-sm-12 col-xs-12 mt-1">
																<div class="row">
																	<div class="col-md-4 pt-0 pb-0 border border-white">
																		<span class="input-group-addon" style="font-size: 12px;">
																			DEFINED BATCHES
																		</span>
																	</div>
																	<div class="col-md-8 p-0">
																		{{#each batches as |batch|}}
																		<span class="badge badge-info">{{batch.code}}</span>
																		{{/each}}
																	</div>
																</div>
															</div>
														</div>
														<br>
														<div class="col-sm-12 col-xs-12 mt-3 ml-3 text-right">
															<button type="button" class="btn btn-danger" disabled>CHANGE
																STATUS</button>
															<button type="submit" class="btn btn-info">Save
																changes</button>
															<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<br><br>
						</div>
						<div class="tab-pane" id="innertab2{{tabNumber}}">
							<div class=" card-title col-12 h3 bg-info">
								Active Students
							</div>
							<div class="container">
								<div class="row">
									<div class="col-md-10"><input type="text" class="form-control student-search-inp" placeholder="search students"
										 data-tuition-id="{{_id}}"></div>
									<div class="col-md-2">
										<div class="btn btn-info btn-sm student-search-reset" data-tuition-id="{{_id}}">RESET</div>
									</div>
								</div>
								<div class="section section-comments p-1">
									<div class="row">
										{{!-- FIXME: moved to new hbs file --}}
									</div>
									<div class="row mt-2 student-container" data-tuition-id="{{_id}}"></div>
								</div>
							</div>
							<br>

							<div class="card card-profile main-raised m-0">
								<form class="new-student-form" data-tuition-id="{{_id}}">
									<div class="card-title h3 mt-3 px-3 mx-3 text-left">
										Add New Student
									</div>
									<div class="card-title h4 px-3 mx-3 text-left bg-info">
										Auto-populate student details using EA id
									</div>
									<div class="col-12 px-3 text-left">
										<div class="row px-3">
											<div class="col-12">
												<button class="btn btn-info btn-sm ea-id-modal-trigger" data-tuition-id="{{_id}}">Enter EA ID</button>
											</div>
										</div>
										<div class="card-title h4 px-3 bg-info">
											Add New Student Through Excel
										</div>
										<div class="row px-3">
											<div class="col-4">
												<a href="/assets/excel/student-template.csv" class="btn btn-round btn-success text-white" download>Download
													Excel Template</a>
											</div>
											<div class="col-3">
												<input class="exel-file-upload" type="file" data-tuition-id="{{_id}}">
											</div>
											<div class="col-3">
												<a class="btn btn-round btn-success add-students-from-excel-btn text-white" data-tuition-id="{{_id}}">ADD
													STUDENTS FROM EXCEL</a>
											</div>
										</div>
									</div>
									<div class="card-title h4 mx-3 text-left px-3 bg-info">
										Add New Student Manually
									</div>
									<div class="card-body text-left">
										<div class="row">
											<div class="col-md-12 compulsory-fields-container" data-tuition-id="{{_id}}">
												<h4 class="card-title">Compulsory Fields</h4>
												<div class="row">
													<div class="col-md-4">
														<label class="bmd-label-floating">Student Roll No.</label>
														<input name="rollNumber" type="text" class="form-control student-roll-number" data-tuition-id="{{_id}}"
														 required>
													</div>
													<div class="col-md-4">
														<label class="bmd-label-floating">Student Name</label>
														<input name="name" type="text" class="form-control student-name-inp" data-tuition-id="{{_id}}" required>
													</div>
													<div class="col-md-4">
														<label class="bmd-label-floating">Student E-mail</label>
														<input name="email" type="email" class="form-control student-email-inp" data-tuition-id="{{_id}}"
														 required>
													</div>
												</div>
											</div>
											<div class="col-md-12 additional-fields-container" data-tuition-id="{{_id}}">
												<h4 class="card-title">Additional Fields</h4>
												<div class="row">
													<div class="col-md-6">
														<label class="bmd-label-floating">Address</label>
														<input name="address" type="text" class="form-control student-address-inp" data-tuition-id="{{_id}}">
													</div>
													<div class="col-md-6">
														<label class="bmd-label-floating">Contact No.</label>
														<input name="contactNumber" type="text" class="form-control student-phone-inp" data-tuition-id="{{_id}}">
													</div>
												</div>
											</div>
											<div class="col-md-12 student-course-batch-container" data-tuition-id="{{_id}}">
												<h4 class="card-title">Batch And Course Details</h4>
												<div class="row">
													<div class="col-md-4 form-group">
														<label for="course_select" class="bmd-label-floating">Select Course</label>
														<select class="form-control selectpicker student-course-select-menu" data-style="btn btn-link" name="courseId"
														 data-tuition-id="{{_id}}">
														</select>
													</div>
													<div class="col-md-4 form-group">
														<label for="batch_select" class="bmd-label-floating">Select Batch</label>
														<select class="form-control selectpicker student-batch-select-menu" data-style="btn btn-link" name="batchId"
														 data-tuition-id="{{_id}}">
														</select>
													</div>
												</div>
											</div>
											<div class="col-12 payment-details-container" data-tuition-id="{{_id}}">
												<div class="row">
													<div class="col-md-4 form-group">
														<label for="course_fee_inp" class="bmd-label-floating">Course Fee</label>
														<input name="courseFee" type="number" class="form-control student-course-fee" data-tuition-id="{{_id}}">
													</div>
													<div class="col-md-4 form-group">
														<label for="batch_select" class="bmd-label-floating">Select Discount Code</label>
														<select class="form-control student-discount-code-select" data-style="btn btn-link" name="discountCode"
														 data-tuition-id="{{_id}}">
														</select>
													</div>
													<div class="col-md-4 form-group">
														<label for="discount_amount" class="bmd-label-floating">Discount Amount / Percentage</label>
														<input name="discountAmount" type="text" class="form-control student-discount-amount" data-tuition-id="{{_id}}">
													</div>
													<div class="col-md-4 form-group">
														<label for="discount_reason" class="bmd-label-floating">Discount Reason</label>
														<input name="discountReason" type="text" class="form-control" data-tuition-id="{{_id}}">
													</div>
													<div class="col-md-4 form-group">
														<label for="net_fee" class="bmd-label-floating">Net Fee</label>
														<input type="text" class="form-control student-net-fee not-submit" data-tuition-id="{{_id}}" disabled>
													</div>
													<div class="col-md-4 form-group">
														<label for="next_install" class="bmd-label-floating">Next Installment Date</label>
														<input name="nextInstallment" type="date" class="form-control student-installment-date-inp"
														 data-tuition-id="{{_id}}">
													</div>
												</div>
											</div>
											<div class="col-md-12 student-fee-container" data-tuition-id="{{_id}}">
												<h4 class="card-title">Payment Details</h4>
												<div class="row">
													<div class="col-md-4 form-group">
														<label for="fee_collected" class="bmd-label-floating">Fee Collected</label>
														<input name="feeCollected" type="number" class="form-control student-fee-colected" data-tuition-id="{{_id}}">
													</div>
													<div class="col-md-4 form-group">
														<label for="balance_pending" class="bmd-label-floating">Balance Pending</label>
														<input type="text" class="form-control student-balance-pending not-submit" data-tuition-id="{{_id}}"
														 disabled>
													</div>
													<div class="col-md-4 form-group">
														<label for="modeOfPayment" class="bmd-label-floating">Mode Of Payment</label>
														<select class="form-control mode-of-payment-select" data-style="btn btn-link" name="modeOfPayment"
														 data-tuition-id="{{_id}}">
															<option value="cheque">Cheque</option>
															<option value="card">Card</option>
															<option value="cash">Cash</option>
															<option value="other">Other</option>
														</select>
													</div>
													<div class="col-md-12">
														<div class="row mode-of-payment-details-container" data-tuition-id="{{_id}}">
														</div>
													</div>
													<div class="col-md-12 mt-3">
														<button class="btn btn-round btn-success float-right " type="submit">ADD
															STUDENTS</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
						<div class="tab-pane" id="innertab3{{tabNumber}}">
							<div class="row m-0">
								<div class="card-title col-12 h3 bg-info">
									Active Batches
								</div>
								<div class="col-12">
									<div class="row">
										{{!-- FIXME: moved to new hbs file --}}
									</div>
									<div class="row active-batch-container" data-tuition-id="{{_id}}">
									</div>
								</div>
								<div class="inactive-batches-container"></div>
								<div class="card m-0 mb-4">
									<div class="row card-body">
										<div class="card-title h3 col-12 bg-info">
											Add New Batch
										</div>
										<form class="add_batch_form col-12" data-tabNumber="{{tabNumber}}" data-id="{{_id}}" enctype="multipart/form-data">
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<select class="form-control selectpicker course-select-menu" data-style="btn btn-link" name="courseId"
														 data-tuition-id="{{_id}}" required>
															{{!-- FIXME: moved to new hbs file --}}
														</select>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group is-empty">
														<label class="bmd-label-floating">Batch Code (unique)</label>
														<input type="text" name="code" class="form-control add-batch-code-inp" data-tuition-id="{{_id}}" required>
														<span class="material-input"></span>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group is-empty ">
														<label class="bmd-label-floating">Description (optional)</label>
														<input type="text" name="description" class="form-control">
														<span class="material-input"></span>
													</div>
												</div>
												<div class="col-md-12 h-100">
													<div class="card-title">
														Add Students
													</div>
													<div class="row">
														<div class="col-md-10"><input type="text" placeholder="search students" class="form-control batch-student-search-inp"
															 data-tuition-id="{{_id}}"></div>
														<div class="col-md-2"><a class="btn btn-sm btn-info batch-student-search-reset text-white"
															 data-tuition-id="{{_id}}">reset</a></div>
													</div>
													<br>
													<div class="px-2 student-checkbox-container" data-tuition-id="{{_id}}" style="height:299px;overflow-y: auto;max-height:500px;">
														{{!-- FIXME: moved to new hbs file --}}
													</div>
													<button type="submit" class="btn btn-round btn-success pull-right mt-4">
														ADD Batch
														<div class="ripple-container"></div>
													</button>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane" id="innertab4{{tabNumber}}">
							<div class="row m-0">
								<div class="finance-landing-container col-12" data-tuition-id="{{_id}}">
									<div class="row">
										<div class="card-title col-12 h3 bg-info">
											Finance
										</div>
										<div class="col-md-12">
											<h4 class="card-title">Batch Filter</h4>
											<div class="row mb-2 finance-batch-container" data-tuition-id="{{_id}}">
											</div>
										</div>
										<div class="col-12">
											<div class="row">
												<div class="col-md-10"><input type="text" class="form-control finance-search-inp" placeholder="search students"
													 data-tuition-id="{{_id}}"></div>
												<div class="col-md-2">
													<div class="btn btn-info btn-sm finance-search-reset" data-tuition-id="{{_id}}">RESET</div>
												</div>
											</div>
										</div>
										<div class="col-12">
											<div class="row finance-student-container" data-tuition-id="{{_id}}">
											</div>
										</div>
									</div>
								</div>
								<div class="col-12 finance-detail-container d-none" data-tuition-id="{{_id}}">
									<div class="row">
										<button class="btn btn-sm btn-info landing-view-btn">
											<i class="material-icons">
												arrow_back
											</i>
										</button>
									</div>
									<div class="finance-dynamic-container" data-tuition-id="{{_id}}"></div>
								</div>
							</div>
						</div>
						<div class="tab-pane" id="innertab5{{tabNumber}}">
							<div class="row m-0">
								<div class="card-title col-12 h3 bg-info">
									Active Discounts
								</div>
								<div class="col-12">
									<div class="row active-discounts-container" data-tuition-id="{{_id}}">
									</div>
								</div>
								<div class="card m-0 mb-4">
									<form class="add-discount-form" data-tabNumber="{{tabNumber}}" data-id="{{_id}}" data-tuition-id="{{_id}}">
										<div class="row card-body">
											<div class="card-title h3 col-12 bg-info">
												Define New Discount
											</div>
											<div class="col-md-12">
												<div class="row">
													<div class="col-md-6 form-group label-floating is-empty  bmd-form-group">
														<label for="bmd-label-floating">Discount Code (unique)</label>
														<input name="code" class="form-control discount-code-inp" type="text" data-tuition-id="{{_id}}" required>
														<span class="material-input"></span>
													</div>
													<div class="col-md-6 form-group label-floating is-empty bmd-form-group">
														<label for="bmd-label-floating">Amount/Percentage</label>
														<input name="amount" class="form-control amount-inp" type="number" data-tuition-id="{{_id}}" required>
													</div>
													<div class="col-md-6 form-group label-floating is-empty bmd-form-group">
														<div class="togglebutton">
															<label>
																<input class="discount-is-percentage-inp" name="isPercent" type="checkbox" value="true" data-tuition-id="{{_id}}">
																<span class="toggle"></span>
																toggle to save discount as percentage
															</label>
														</div>
													</div>
													<div class="col-md-6 form-group label-floating is-empty bmd-form-group">
														<button type="submit" class="btn btn-round btn-success pull-right">
															Define Discount
															<div class="ripple-container"></div>
														</button>
													</div>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="tab-pane" id="pill2{{tabNumber}}">
			<ul class="nav nav-pills nav-pills-success nav-pills-icons" role="tablist">
				<li class="nav-item col-3">
					{{#if promotedHome}}
					<a class="nav-link active" href="#dashboard-1{{tabNumber}}" role="tab" data-toggle="tab">
						<i class="material-icons" style="font-size: 48px">
							home
						</i>
						Ad Stats for
						<h4 class="info-title">
							HOMEPAGE</h4>
					</a>
					{{else}}
					<a class="nav-link" href="#dashboard-1{{tabNumber}}" data-toggle="modal" data-target="#promoterModal">
						<span class="badge badge-pill badge-danger">Not purchased</span>
						<i class="material-icons" style="font-size: 48px">
							home
						</i>
						Ad Stats for
						<h4 class="info-title">
							HOMEPAGE</h4>
					</a>
					{{/if}}

				</li>
				<li class="nav-item col-3">
					{{#if promotedSearch}}
					<a class="nav-link" href="#schedule-1{{tabNumber}}" role="tab" data-toggle="tab">
						<i class="material-icons" style="font-size: 48px">
							search
						</i>
						Ad Stats for
						<h4 class="info-title">
							SEARCHPAGE</h4>
					</a>
					{{else}}
					<a class="nav-link" href="#schedule-1{{tabNumber}}" data-toggle="modal" data-target="#promoterModal">
						<span class="badge badge-pill badge-danger">Not purchased</span>
						<i class="material-icons" style="font-size: 48px">
							search
						</i>
						Ad Stats for
						<h4 class="info-title">
							SEARCHPAGE</h4>
					</a>
					{{/if}}
				</li>
				<li class="nav-item col-3">
					{{#if promotedRelated}}
					<a class="nav-link" href="#tasks-1{{tabNumber}}" role="tab" data-toggle="tab">
						<span class="badge badge-pill badge-danger">Not purchased</span>
						<i class="material-icons" style="font-size: 48px">
							format_list_bulleted
						</i>
						Ad Stats for
						<h4 class="info-title">
							RELATED LISTING</h4>
					</a>
					{{else}}
					<a class="nav-link" href="##tasks-1{{tabNumber}}" data-toggle="modal" data-target="#promoterModal">
						<span class="badge badge-pill badge-danger">Not purchased</span>
						<i class="material-icons" style="font-size: 48px">
							format_list_bulleted
						</i>
						Ad Stats for
						<h4 class="info-title">
							RELATED LISTING</h4>
					</a>
					{{/if}}
				</li>
			</ul>
			<div class="tab-content tab-space">
				<div class="tab-pane active" id="dashboard-1{{tabNumber}}">
					{{#if promotedHome}}
					<div class="row mx-3 justify-content-around">
						<div class="col-md-6">
							<div class="card">
								<div class="card-body">
									<div class="card-stats justify-content-around">
										<canvas id="myChart{{tabNumber}}"></canvas>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 ">
							<div class="card">
								<div class="card-body">
									<div class="card-stats justify-content-around">
										<canvas id="myChart2{{tabNumber}}"></canvas>
									</div>
								</div>
							</div>
						</div>
					</div>
					{{else}}
					<div class="row mx-3">
						<small>You Don't have promoter subscription, click on above buttons to activate promoter</small>
					</div>
					{{/if}}
				</div>
				<div class="tab-pane" id="schedule-1{{tabNumber}}">
					{{#if promotedSearch}}
					<div class="row mx-3 justify-content-around">
						<div class="col-md-6">
							<div class="card">
								<div class="card-body">
									<div class="card-stats justify-content-around">
										<canvas id="myChart{{tabNumber}}1"></canvas>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 ">
							<div class="card">
								<div class="card-body">
									<div class="card-stats justify-content-around">
										<canvas id="myChart2{{tabNumber}}1"></canvas>
									</div>
								</div>
							</div>
						</div>
					</div>
					{{/if}}
				</div>
				<div class="tab-pane" id="tasks-1{{tabNumber}}">
					{{#if promotedRelated}}
					<div class="row mx-3 justify-content-around">
						<div class="col-md-6">
							<div class="card">
								<div class="card-body">
									<div class="card-stats justify-content-around">
										<canvas id="myChart{{tabNumber}}2"></canvas>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 ">
							<div class="card">
								<div class="card-body">
									<div class="card-stats justify-content-around">
										<canvas id="myChart2{{tabNumber}}2"></canvas>
									</div>
								</div>
							</div>
						</div>
					</div>
					{{/if}}
				</div>
			</div>
		</div>
		<div class="tab-pane" id="pill3{{tabNumber}}">
			<div class="row m-0">
				<div class="col-md-2" style="border-right: 1px solid rgba(0, 0, 0, 0.1)">
					<ul class="nav nav-pills nav-pills-success flex-column">
						<li class="nav-item"><a class="nav-link active rounded-0" href="#announce{{tabNumber}}" data-toggle="tab">Announcement</a></li>
						<li class="nav-item"><a class="nav-link rounded-0" href="#forums{{tabNumber}}" data-toggle="tab">Forums</a></li>
					</ul>
				</div>
				<div class="col-md-10">
					<div class="tab-content tab-space">
						<div class="tab-pane active" id="announce{{tabNumber}}">
							<div class="card-body card m-0">
								<div class="card-title h3 px-3 bg-info">
									New Announcement
								</div>
								<div class="row">
									<div class="col-md-10"><input type="text" placeholder="search students" class="form-control announcement-student-search-inp"
										 data-tuition-id="{{_id}}"></div>
									<div class="col-md-2"><a class="btn btn-sm btn-info announcement-student-search-reset text-white"
										 data-tuition-id="{{_id}}">reset</a></div>
								</div>
								<div class="form-group">
									<label for="exampleInputEmail1" class="text-dark">Select Students</label>
									<div class="px-2" style="height:299px;overflow-y: auto;max-height:500px;">
										<table class="table">
											<thead>
												<tr>
													<th class="text-center">#</th>
													<th><small>Name</small></th>
													<th><small>Roll Number</small></th>
													<th><small>Email</small></th>
													<th><small>Select</small></th>
												</tr>
											</thead>
											<tbody class="select-announcement-students" data-tuition-id="{{_id}}">
												{{!-- FIXME: moved to new hbs file --}}
											</tbody>
										</table>
									</div>
								</div>
								<div class="form-group">
									<label for="exampleInputEmail1" class="text-dark"><small class="text-danger">OR</small>
										Select A Batch</label>
									<div class="px-2" style="height:299px;overflow-y: auto;max-height:250px;">
										<table class="table">
											<thead>
												<tr>
													<th class="text-center">#</th>
													<th><small>Batch Code</small></th>
													<th><small>Select</small></th>
												</tr>
											</thead>
											<tbody class="select-announcement-batches" data-tuition-id="{{_id}}">
												{{!-- FIXME: moved to new hbs file --}}
											</tbody>
										</table>
									</div>
								</div>
								<div class="form-group">
									<label for="exampleInputEmail1" class="text-dark"><small class="text-danger">OR</small>
										Send To All Students</label>
									<div class="togglebutton">
										<label>
											<input class="select-institute" type="checkbox" name="instituteId" value="{{_id}}" data-tuition-id="{{_id}}">
											<span class="toggle"></span>
										</label>
									</div>
								</div>
								<br>
								<div class="form-group">
									<label class="text-dark">Announcement Text</label>
									<textarea class="form-control announcement-text" placeholder="TYPE YOUR MESSAGE/NOTICE/ANNOUNCEMENT HERE" rows="5"
									 name="message"></textarea>
								</div>
								<div class="col-12">
									<button class="btn btn-round btn-success pull-right send-announcement-btn" type="button" data-tuition-id="{{_id}}">SEND</button>
								</div>
							</div>
							<div class="card-title col-12 h3 bg-info">
								Recent Notifications
							</div>
							<div class="col-12">
								<div class="row recent-notification-container my-3" data-tuition-id="{{_id}}">

								</div>
							</div>
						</div>
						<div class="tab-pane" id="forums{{tabNumber}}">
							<div class="forum-landing-container" data-tuition-id="{{_id}}">
								<form class="new-post-form" enctype="multipart/form-data" data-tuition-id="{{_id}}">
									<div class="card mt-0">
										<div class="row card-body">
											<div class="card-title col-12 h3">
												Add New Thread
											</div>
											<div class="col-md-12 mb-3">
												<input type="text" class="form-control" name="title" placeholder="Enter Title">
											</div>
											<div class="col-md-12 mb-3">
												<textarea class="form-control" rows="5" placeholder="Enter Content" name="body"></textarea>
											</div>
											<div class="col-md-12">
												<button type="submit" class="btn btn-round btn-success float-right">ADD</button>
											</div>
										</div>
									</div>
								</form>
								<div class="active-forum-container" data-tuition-id="{{_id}}">
									{{!-- FIXME: moved to new hbs file --}}
								</div>
							</div>
							<div class="forum-detail-container d-none" data-tuition-id="{{_id}}">
								<button class="btn btn-sm btn-info go-to-landing-page-btn" data-tuition-id="{{_id}}">
									<i class="material-icons" data-tuition-id="{{_id}}">
										arrow_back
									</i>
								</button>
								<div class="forum-detail-body"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="tab-pane" id="pill4{{tabNumber}}">
			<div class="row m-0">
				<div class="col-md-2" style="border-right: 1px solid rgba(0, 0, 0, 0.1)">
					<ul class="nav nav-pills nav-pills-success flex-column">
						<li class="nav-item">
							<a class="nav-link active rounded-0" href="#addSchedule{{tabNumber}}" data-toggle="tab">Add Schedule</a>
						</li>
						<li class="nav-item">
							<a class="nav-link rounded-0" href="#scheduleReports{{tabNumber}}" data-toggle="tab">Reports</a>
						</li>
					</ul>
				</div>
				<div class="col-md-10">
					<div class="tab-content">
						<div class="tab-pane active" id="addSchedule{{tabNumber}}">
							<div class="row m-0">
								<div class="card">
									<div class="card-body">
										<form class="schedule-validation-form" data-tuition-id="{{_id}}">
											<div class="row m-0">
												<div class="card-title col-12 h3 p-0 bg-info px-3 ">Add New Schedule</div>
												<div class="col-12">
													<div class="form-group">
														<label for="week-number">Week Number</label>
														<input type="number" name="week-number" class="form-control" value="1" disabled>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label class="label-control">From Date</label>
														<input type="text" name="from-date" class="form-control date-picker from-date" required data-tuition-id="{{_id}}"
														 data-tuition-id="{{_id}}">
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label class="label-control">To Date</label>
														<input name="to-date" type="text" class="form-control date-picker to-date" required data-tuition-id="{{_id}}"
														 data-tuition-id="{{_id}}" disabled>
													</div>
												</div>
												<div class="col-md-12 add-schedule-container" data-tuition-id="{{_id}}">
													<div class="row">
														<div class="col-2">Day</div>
														<div class="col-2">From Time</div>
														<div class="col-2">To Time</div>
														<div class="col-3">Topic</div>
														<div class="col-3">Faculty</div>
													</div>
													<div class="schedule-row row" data-tuition-id="{{_id}}">
														<div class="col-2 schedule-col">
															<div class="form-group">
																<select name="date" class="form-control day-dropdown" data-style="btn btn-link" data-tuition-id="{{_id}}">
																</select>
															</div>
														</div>
														<div class="col-2 schedule-col">
															<input name="fromTime" type="text" class="form-control time-picker from-time" required>
														</div>
														<div class="col-2 schedule-col">
															<input name="toTime" type="text" class="form-control time-picker to-time" required>
														</div>
														<div class="col-3 schedule-col">
															<input type="text" name="topic" required>
														</div>
														<div class="col-3 schedule-col">
															<input type="text" name="faculty" required>
														</div>
													</div>
												</div>
												<div class="col-md-12 justify-content-end mx-2">
													<a class="btn btn-round btn-success add-class-entry text-white" data-tuition-id="{{_id}}">
														Add More Classes
													</a>
												</div>
												<div class="col-md-12">
													<div class="card-title">Select Batches For This Schedule</div>
													<form class="add-schedule-form" data-tuition-id="{{_id}}">
														<div class="p-2 batch-checkbox-container" data-tuition-id="{{_id}}" style="height:299px;background-color:rgb(184, 184, 184);overflow-y: auto;max-height:100px;">
															{{!-- FIXME: moved to new hbs file --}}
														</div>
													</form>
													<div class="row justify-content-end mt-2">
														<button class="btn btn-round btn-success save-schedule-btn" type="submit" data-tuition-id="{{_id}}">Save
															Schedule</button>
													</div>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
							<div class="row m-0">
								<div class="card-title col-12 h3 p-0 bg-info px-3">Active Schedules</div>
								<div class="col-12 active-schedule-container" data-tuition-id="{{_id}}">
									{{!-- FIXME: moved to new hbs file --}}
								</div>
							</div>
						</div>
						<div class="tab-pane">
							gtsghsjuhsdjd
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="tab-pane" id="pill5{{tabNumber}}">
			<div class="row m-0">
				<div class="col-md-2" style="border-right: 1px solid rgba(0, 0, 0, 0.1)">
					<ul class="nav nav-pills nav-pills-success flex-column">
						<li class="nav-item">
							<a class="nav-link active rounded-0" href="#attandance{{tabNumber}}" data-toggle="tab">Mark
								Attendance</a>
						</li>
					</ul>
				</div>
				<div class="col-md-10">
					<div class="tab-content">
						<div class="tab-pane active" id="attandance{{tabNumber}}">
							<div class="card">
								<div class="card-body">
									<div class="card-title h3 bg-info px-3">
										Mark Attendence
									</div>
									<div class="col-12">
										<label for="batchDropdown">Select Batch</label>
										<select class="form-control attendance-batch-dropdown" data-style="btn btn-link" data-tuition-id="{{_id}}">
										</select>
										<label for="batchDropdown">Select Week</label>
										<select class="form-control attendance-week-dropdown" data-style="btn btn-link" data-tuition-id="{{_id}}">
										</select>
										<label for="scheduleDropdown">Select Schedule</label>
										<select class="form-control attendance-schedule-dropdown" data-style="btn btn-link" data-tuition-id="{{_id}}">
										</select>
									</div>
									<div class="card-title h4 bg-info px-3">
										Mark Attendence Through Excel
									</div>
									<div class="row px-3">
										<div class="col-4">
											<a href="/assets/excel/attendance-template.csv" class="btn btn-round btn-success text-white" download>Download
												Excel Template</a>
										</div>
										<div class="col-3">
											<input class="attendance-exel-file-upload" type="file" data-tuition-id="{{_id}}">
										</div>
										<div class="col-3">
											<a class="btn btn-round btn-success add-attendance-from-excel-btn text-white" data-tuition-id="{{_id}}">ADD
												ATTENDANCE FROM EXCEL</a>
										</div>
									</div>
									<div class="card-title h4 bg-info px-3">
										Mark Attendence Manually
									</div>
									<div style="overflow-y: scroll;max-height: 500px;">
										<form class="absent-student-form" data-tuition-id="{{_id}}">
											<table class="table border border-light">
												<thead class="">
													<tr>
														<th>#</th>
														<th><small>Student Name</small></th>
														<th><small>Roll No.</small></th>
														<th><small>Outstanding Fee</small></th>
														<th><small>SELECT
																TO MARK ABSENT</small></th>
													</tr>
												</thead>
												<tbody class="students-container" data-tuition-id="{{_id}}">
													{{!-- FIXME: not moved to new hbs file --}}
												</tbody>
											</table>
										</form>
									</div>
									<div class="row justify-content-end m-2">
										<button class="btn btn-success btn-round" disabled>NOTIFY</button>
										<button class="btn btn-success btn-round save-attendance-btn" type="button" data-tuition-id="{{_id}}">Save
											Attendance</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="tab-pane" id="pill6{{tabNumber}}">
			<div class="row m-0">
				<div class="col-3">
					<div class="card bg-info">
						<div class="card-body">
							<div class="card-title">Student Name</div>
							<div class="card-text">
								<p class="col-12">Installment Date: 23/11/96</p>
								<p class="col-12">Remaining Balance: 20000 INR</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-3">
					<div class="card bg-warning">
						<div class="card-body">
							<div class="card-title">Student Name</div>
							<div class="card-text">
								<p class="col-12">Installment Date: 23/11/96</p>
								<p class="col-12">Remaining Balance: 20000 INR</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-3">
					<div class="card bg-success">
						<div class="card-body">
							<div class="card-title">Student Name</div>
							<div class="card-text">
								<p class="col-12">Installment Date: 23/11/96</p>
								<p class="col-12">Remaining Balance: 20000 INR</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-3">
					<div class="card bg-danger">
						<div class="card-body">
							<div class="card-title">Student Name</div>
							<div class="card-text">
								<p class="col-12">Installment Date: 23/11/96</p>
								<p class="col-12">Remaining Balance: 20000 INR</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>