<div class="tab-pane" id="tab{{tabNumber}}">
    <div class="card bg-info mt-1">
        <div class="card-body px-3">
            <h3 class="card-title text-dark" data-id="{{_id}}" data-tabNumber="{{tabNumber}}">
                {{name}}
            </h3>
            <h5 class="card-title">
                Study Monitor
            </h5>
        </div>
    </div>
    <ul class="nav nav-pills nav-pills-rose">
        <li class="nav-item"><a class="nav-link active" href="#pill1{{tabNumber}}" data-toggle="tab">Configure</a></li>
        <li class="nav-item"><a class="nav-link" href="#pill2{{tabNumber}}" data-toggle="tab">Promoter</a></li>
        <li class="nav-item"><a class="nav-link" href="#pill3{{tabNumber}}" data-toggle="tab">Messages</a></li>
        <li class="nav-item"><a class="nav-link" href="#pill4{{tabNumber}}" data-toggle="tab">Options</a></li>
    </ul>
    <hr>
    <div class="tab-content tab-space">
        <div class="tab-pane active" id="pill1{{tabNumber}}">
            <div class="row m-0">
                <div class="col-md-2" style="border-right: 1px solid rgba(0, 0, 0, 0.1)">
                    <ul class="nav nav-pills nav-pills-rose flex-column">
                        <li class="nav-item"><a class="nav-link active" href="#innertab1{{tabNumber}}" data-toggle="tab">Courses</a></li>
                        <li class="nav-item"><a class="nav-link" href="#innertab3{{tabNumber}}" data-toggle="tab">Batches</a></li>
                        <li class="nav-item"><a class="nav-link" href="#innertab2{{tabNumber}}" data-toggle="tab">Students</a></li>
                        <li class="nav-item"><a class="nav-link" href="#innertab4{{tabNumber}}" data-toggle="tab">Active
                                Batches</a></li>
                    </ul>
                </div>
                <div class="col-md-10">
                    <div class="tab-content">
                        <div class="tab-pane active" id="innertab1{{tabNumber}}">
                            <div class="row m-0">
                                <div class="card-title col-12 h3">
                                    Active Courses
                                </div>
                                <div class="col-12">
                                    <div class="row">
                                        {{#each courses as |course|}}
                                        <div class="col-md-4" id="{{course._id}}">
                                            <div class="card">
                                                <div class="card-body ">
                                                    <h4 class="card-title" data-toggle="modal" data-target="#editCourseModal{{course._id}}">
                                                        <a href="#pablo">{{course.code}}</a>
                                                    </h4>
                                                </div>
                                                <div class="card-footer ">
                                                    <div class="author">
                                                        <h6 class="card-category text-danger">
                                                            {{!-- <i class="material-icons">trending_up</i> --}}
                                                            Price {{course.fees}}/-
                                                        </h6>
                                                    </div>
                                                    <div class="stats ml-auto">
                                                        <i class="material-icons delete-course-btn" style="top: 0%; cursor: pointer;"
                                                            data-id="{{course._id}}" data-parent="{{course.parentId}}">delete</i>
                                                        <i class="material-icons" style="top: 0%; cursor: pointer;">edit</i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Modal -->
                                        <form class="edit_course_form" data-tabNumber="{{tabNumber}}" data-tuition="{{course.parentId}}"
                                            data-course="{{course._id}}" data-modal="editCourseModal{{course._id}}"
                                            enctype="multipart/form-data">
                                            <div class="modal fade bd-example-modal-lg" id="editCourseModal{{course._id}}"
                                                tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                                aria-hidden="true">
                                                <div class="modal-dialog modal-lg" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-body p-0">
                                                            <div class="card my-0 bg-info">
                                                                <div class="card-body pt-0 pb-0">
                                                                    <h3 class="card-title my-2">
                                                                        <a href="#pablo" class="text-dark">{{course.code}}</a>
                                                                    </h3>
                                                                </div>
                                                            </div>
                                                            <div class="card my-0">
                                                                <div class="card-body ">
                                                                    <div class="row align-items-center justify-content-around">
                                                                        <div class="col-sm-12 col-xs-12 mt-1">
                                                                            <div class="row">
                                                                                <div class="col-md-4 pt-0 pb-0 border border-white">
                                                                                    <span class="input-group-addon"
                                                                                        style="font-size: 12px;">
                                                                                        COURSE CODE
                                                                                    </span>
                                                                                </div>
                                                                                <div class="col-md-8 p-0">
                                                                                    <input name="code" type="text"
                                                                                        class="form-control bg-white"
                                                                                        placeholder="COURSE CODE" value="{{course.code}}">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-12 col-xs-12 mt-1">
                                                                            <div class="row">
                                                                                <div class="col-md-4 pt-0 pb-0">
                                                                                    <span class="input-group-addon"
                                                                                        style="font-size: 12px;">
                                                                                        DESCRIPTION
                                                                                    </span>
                                                                                </div>
                                                                                <div class="col-md-8 p-0">
                                                                                    <input name="description" type="text"
                                                                                        class="form-control bg-white"
                                                                                        placeholder="DESCRIPTION" value="{{course.description}}">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-12 col-xs-12 mt-1">
                                                                            <div class="row">
                                                                                <div class="col-md-4 pt-0 pb-0 border border-white">
                                                                                    <span class="input-group-addon"
                                                                                        style="font-size: 12px;">
                                                                                        COURSE FEE
                                                                                    </span>
                                                                                </div>
                                                                                <div class="col-md-8 p-0">
                                                                                    <input name="fees" type="text"
                                                                                        class="form-control bg-white"
                                                                                        placeholder="COURSE FEE" value="{{fees}}">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-12 col-xs-12 mt-1">
                                                                            <div class="row">
                                                                                <div class="col-md-4 pt-0 pb-0 border border-white">
                                                                                    <span class="input-group-addon"
                                                                                        style="font-size: 12px;">
                                                                                    </span>
                                                                                </div>
                                                                                <div class="col-md-8 p-0">
                                                                                    <div class="row">
                                                                                        <div class="col-md-6">
                                                                                            <div class="form-check">
                                                                                                <label class="form-check-label">
                                                                                                    <input class="form-check-input"
                                                                                                        type="checkbox"
                                                                                                        value="">
                                                                                                    INCLUSIVE OF GST
                                                                                                    <span class="form-check-sign">
                                                                                                        <span class="check"></span>
                                                                                                    </span>
                                                                                                </label>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="col-md-6">
                                                                                            <div class="row">
                                                                                                <div class="col-md-3 pl-0 pr-0">
                                                                                                    <input name="gst"
                                                                                                        type="text"
                                                                                                        class="form-control bg-white border rounded  mt-3"
                                                                                                        style="height:24px;"
                                                                                                        value="{{course.gst}}">
                                                                                                </div>
                                                                                                <div class="col-md-9 pl-0 pr-0 mt-3">
                                                                                                    <p>GST PERCENTAGE</p>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row align-items-center justify-content-around">
                                                                        <div class="col-sm-12 col-xs-12 mt-1">
                                                                            <div class="row">
                                                                                <div class="col-md-4 pt-0 pb-0 border border-white">
                                                                                    <span class="input-group-addon"
                                                                                        style="font-size: 12px;">
                                                                                        TOTAL FEE
                                                                                    </span>
                                                                                </div>
                                                                                <div class="col-md-8 p-0">
                                                                                    <input type="text" class="form-control bg-white"
                                                                                        placeholder="TOTAL FEE" value="{{course.fees}}">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-12 col-xs-12 mt-1">
                                                                            <div class="row">
                                                                                <div class="col-md-4 pt-0 pb-0 border border-white">
                                                                                    <span class="input-group-addon"
                                                                                        style="font-size: 12px;">
                                                                                        DEFINED BATCHES
                                                                                    </span>
                                                                                </div>
                                                                                <div class="col-md-8 p-0">
                                                                                    {{#each batches as |batch|}}
                                                                                    <span class="badge badge-info">{{batch.code}}</span>
                                                                                    {{/each}}
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <br>
                                                                    <div class="col-sm-12 col-xs-12 mt-3 ml-3 text-right">
                                                                        <button type="button" class="btn btn-danger"
                                                                            disabled>CHANGE
                                                                            STATUS</button>
                                                                        <button type="submit" class="btn btn-primary">Save
                                                                            changes</button>
                                                                        <button type="button" class="btn btn-secondary"
                                                                            data-dismiss="modal">Close</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        {{/each}}
                                    </div>
                                    <div id="active_course_container{{tabNumber}}" class="row">
                                    </div>
                                </div>
                                <div class="card-title col-12 h3">
                                    Inactive Courses
                                </div>
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-body ">
                                            <h4 class="card-title">
                                                <a href="#pablo">MBA Prep 18</a>
                                            </h4>
                                        </div>
                                        <div class="card-footer ">
                                            <div class="author">
                                                <h6 class="card-category text-danger">
                                                    <i class="material-icons">trending_up</i>
                                                    Price 50000/-
                                                </h6>
                                            </div>
                                            <div class="stats ml-auto">
                                                <i class="material-icons" style="top: 0%; cursor: pointer;">delete</i>
                                                <i class="material-icons" style="top: 0%; cursor: pointer;">edit</i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card m-0 mb-4">
                                    <form class="new_course_form" data-tabNumber="{{tabNumber}}" data-id="{{_id}}">
                                        <div class="row card-body">
                                            <div class="card-title h3 col-12">
                                                Add New Course/Product
                                            </div>
                                            <div class="col-md-6">
                                                {{!-- <div class="form-group label-floating is-empty has-rose bmd-form-group">
                                                    <input type="text" name="code" class="form-control" placeholder="Course Name"
                                                        required>
                                                    <span class="material-input"></span>
                                                </div> --}}
                                                <div class="form-group label-floating is-empty has-rose bmd-form-group">
                                                    <input id="course-code" name="code" class="form-control" type="text"
                                                        placeholder="Course Code (unique)" required>
                                                    <span class="material-input"></span>
                                                </div>
                                                <div class="form-group label-floating has-rose is-empty bmd-form-group">
                                                    <textarea name="description" class="form-control" rows="4"
                                                        placeholder="Description (optional)"></textarea>
                                                    <span class="material-input"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group label-floating is-empty has-rose bmd-form-group">
                                                    <input type="number" class="form-control fee-inp" placeholder="Course Fee"
                                                        required data-tabNumber="{{tabNumber}}">
                                                    <span class="material-input"></span>
                                                </div>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input gst-checkbox" type="checkbox"
                                                            value="true" data-tabNumber="{{tabNumber}}">
                                                        insclusive of taxes
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                                <div class="form-group label-floating has-rose is-empty bmd-form-group">
                                                    <input type="number" class="form-control gst-inp" placeholder="GST (%)"
                                                        data-tabNumber="{{tabNumber}}">
                                                    <span class="material-input"></span>
                                                </div>
                                                <div class="form-group label-floating has-rose is-empty bmd-form-group">
                                                    <label>Total Fee</label>
                                                    <input type="number" class="form-control total-fee" placeholder=""
                                                        data-tabNumber="{{tabNumber}}" name="fees" required>
                                                    <span class="material-input"></span>
                                                </div>
                                                {{!-- <p class="font-weight-bold">Total Fee = <span class="total-fee"
                                                        data-tabNumber="{{tabNumber}}"></span></p> --}}
                                            </div>
                                            <div class="col-md-6">
                                            </div>
                                            <div class="col-md-6">
                                                <button type="submit" class="btn btn-round btn-rose pull-right">
                                                    ADD Course
                                                    <div class="ripple-container"></div>
                                                </button>
                                            </div>
                                        </div>
                                        {{!-- <input type="hidden" name="listingId" value="{{_id}}">
                                        <input type="hidden" name="listingCategory" value="{{category}}"> --}}
                                    </form>
                                </div>
                            </div>
                            <br><br>
                        </div>
                        <div class="tab-pane" id="innertab2{{tabNumber}}">
                            <div class=" card-title col-12 h3 mt-4">
                                Active Students
                            </div>
                            <div class="container">
                                <div class="section section-comments p-1">
                                    <div class="row">
                                        {{#each students}}
                                        <div class="col-md-4" id="{{_id}}">
                                            <div class="media-area main-raised m-3">
                                                <div class="media">
                                                    <a class="float-left" href="#pablo">
                                                        <div class="avatar">
                                                            <img class="media-object" src="../assets/img/logo.png" alt="...">
                                                        </div>
                                                    </a>
                                                    <div class="media-body" style="overflow: hidden">
                                                        <h5 class="media-heading mb-0 pb-0">{{name}}
                                                        </h5>
                                                        <small class="text-danger">{{rollNumber}}</small>
                                                        <div class="stats ml-auto text-secondary">
                                                            <i class="material-icons delete-student-btn" style="top: 0%; cursor: pointer;"
                                                                data-id="{{_id}}" data-tuition="{{tuitionId}}">delete</i>
                                                            <i class="material-icons" style="top: 0%; cursor: pointer;">edit</i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {{/each}}
                                    </div>
                                    <div class="row mt-2" id="active_students_container{{tabNumber}}"></div>
                                </div>
                            </div>
                            <div class="card card-profile card-plaina main-raised m-0">
                                <div class="row card-body">
                                    <div class="col-md-6">
                                        <h4 class="card-title text-left">Bulk Upload</h4>
                                        <p class="description text-left">use the excel
                                            template
                                            to bulk
                                            Upload your student data please do not edit
                                            template</p>
                                    </div>
                                    <div class="col-md-6">
                                        <button class="btn btn-round btn-rose float-right">Download
                                            Template</button>
                                        <button class="btn btn-round btn-rose float-right">Upload
                                            Template</button>
                                    </div>
                                </div>
                            </div>
                            <br>

                            <div class="card card-profile main-raised m-0">
                                <form class="new_student_form" data-tabNumber="{{tabNumber}}" data-id="{{_id}}">
                                    <div class="card-body text-left has-rose">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h4 class="card-title">Auto Fields</h4>
                                                <input name="eduatlasId" type="text" placeholder="EA Membership number"
                                                    class="form-control" disabled>
                                                <h4 class="card-title">Compulsory Fields</h4>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <input name="rollNumber" type="text" placeholder="Student Roll No."
                                                            class="form-control" required>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <input name="name" type="text" placeholder="Student Name" class="form-control"
                                                            required>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <input name="email" type="text" placeholder="Student E-mail"
                                                            class="form-control" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <h4 class="card-title">Additional Fields</h4>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <input name="address" type="text" placeholder="Address" class="form-control" />
                                                    </div>
                                                    <div class="col-md-6">
                                                        <input name="contactNumber" type="text" placeholder="Contact No."
                                                            class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <h4 class="card-title">Payment Details</h4>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <input type="text" placeholder="-Product Name" class="form-control" />
                                                    </div>
                                                    <div class="col-md-4">
                                                        <input type="text" placeholder="Products Fees" class="form-control" />
                                                    </div>
                                                    <div class="col-md-4">
                                                        <input type="text" placeholder="Discount Amount Given" class="form-control" />
                                                    </div>
                                                    <div class="col-md-4">
                                                        <input type="text" placeholder="Discount Reason" class="form-control" />
                                                    </div>
                                                    <div class="col-md-4">
                                                        <input type="text" placeholder="Net Fee" class="form-control" />
                                                    </div>
                                                    <div class="col-md-4">
                                                        <input type="text" placeholder="Fee Collected" class="form-control" />
                                                    </div>
                                                    <div class="col-md-4">
                                                        <input type="text" placeholder="Mode Of Payment" class="form-control" />
                                                    </div>
                                                    <div class="col-md-4">
                                                        <input type="text" placeholder="Balance Pending" class="form-control" />
                                                    </div>
                                                    <div class="col-md-4">
                                                        <input type="text" placeholder="next installment details" class="form-control" />
                                                    </div>
                                                    <div class="col-md-4">
                                                        <input type="text" placeholder="print receipt" class="form-control" />
                                                    </div>
                                                    <div class="col-md-4">
                                                        <input type="text" placeholder="add to batch code" class="form-control" />
                                                    </div>
                                                    <div class="col-md-12 mt-3">
                                                        <button class="btn btn-round btn-rose float-right">ADD
                                                            STUDENTS</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="tab-pane" id="innertab3{{tabNumber}}">
                            <div class="row m-0">
                                <div class="card-title col-12 h3">
                                    Active Batches
                                </div>
                                <div class="col-12">
                                    <div class="row">
                                        {{#each batches}}
                                        <div class="col-md-4" id="{{_id}}">
                                            <div class="card">
                                                <div class="card-body ">
                                                    <h4 class="card-title">
                                                        <a href="#pablo">{{code}}</a>
                                                    </h4>
                                                    <p class="card-text">
                                                        {{description}}
                                                    </p>
                                                    <p class="card-text">
                                                        <small class="text-secondary">Course:</small>
                                                        <small class="text-danger">{{parentCourse}}</small>
                                                    </p>
                                                </div>
                                                <div class="card-footer ">
                                                    <div class="stats ml-auto">
                                                        <i class="material-icons delete-batch-btn" style="top: 0%; cursor: pointer;"
                                                            data-id="{{_id}}" data-tuition="{{tuitionId}}" data-course="{{courseId}}">delete</i>
                                                        <i class="material-icons" style="top: 0%; cursor: pointer;">edit</i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {{/each}}
                                    </div>
                                    <div id="active_batch_container{{tabNumber}}" class="row">
                                    </div>
                                </div>
                                <div class="card-title col-12 h3">
                                    Inactive Batches
                                </div>
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-body ">
                                            <h4 class="card-title">
                                                <a href="#pablo">Jul17</a>
                                            </h4>
                                            <p class="card-text">
                                                morning batch
                                            </p>
                                            <p class="card-text">
                                                <small class="text-secondary">Course:</small>
                                                <small class="text-danger">MBA Prep 18</small>
                                            </p>
                                        </div>
                                        <div class="card-footer ">
                                            <div class="stats ml-auto">
                                                <i class="material-icons" style="top: 0%; cursor: pointer;">delete</i>
                                                <i class="material-icons" style="top: 0%; cursor: pointer;">edit</i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card m-0 mb-4">
                                    <form class="new_batch_form" data-tabNumber="{{tabNumber}}" data-id="{{_id}}"
                                        enctype="multipart/form-data">
                                        <div class="row card-body">
                                            <div class="card-title h3 col-12">
                                                Add New Batch
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="courseIdSelect">Choose Course for your batch</label>
                                                    <select class="form-control selectpicker courseIdSelect" data-style="btn btn-link"
                                                        name="courseId" required>
                                                        {{#each courses}}
                                                        <option value="{{_id}}">{{code}}</option>
                                                        {{/each}}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group label-floating is-empty has-rose bmd-form-group">
                                                    <input type="text" name="code" class="form-control" placeholder="Batch Code (unique)"
                                                        required>
                                                    <span class="material-input"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group label-floating is-empty has-rose bmd-form-group">
                                                    <input type="text" name="description" class="form-control"
                                                        placeholder="Description (optional)">
                                                    <span class="material-input"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6 h-100">
                                                <div class="card-title">
                                                    Add Students
                                                </div><br>
                                                <div class="px-2" style="height:299px;background-color:rgb(184, 184, 184);overflow-y: auto;max-height:100px;">
                                                    {{#each students}}
                                                    <input name="students" type="checkbox" value="{{_id}}">
                                                    <span class="media-heading">{{name}}
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </span><br>
                                                    {{/each}}
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <button type="submit" class="btn btn-round btn-rose pull-right mt-4">
                                                    ADD Batch
                                                    <div class="ripple-container"></div>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="innertab4{{tabNumber}}">
                            Completely synergize resource taxing relationships via premier
                            niche markets.
                            Professionally cultivate one-to-one customer service with robust
                            ideas.
                            <br><br>Dynamically innovate resource-leveling customer service for
                            state of the art
                            customer service.
                        </div>
                    </div>
                </div>
            </div>
            <br><br>
        </div>
        <div class="tab-pane" id="pill2{{tabNumber}}">
            <ul class="nav nav-pills nav-pills-rose nav-pills-icons" role="tablist">
                <li class="nav-item col-3">
                    {{#if promotedHome}}
                    <a class="nav-link active" href="#dashboard-1{{tabNumber}}" role="tab" data-toggle="tab">
                        <i class="material-icons" style="font-size: 48px">
                            home
                        </i>
                        Ad Stats for
                        <h4 class="info-title">
                            HOMEPAGE</h4>
                    </a>
                    {{else}}
                    <a class="nav-link" href="#dashboard-1{{tabNumber}}" data-toggle="modal" data-target="#promoterModal">
                        <span class="badge badge-pill badge-danger">Not purchased</span>
                        <i class="material-icons" style="font-size: 48px">
                            home
                        </i>
                        Ad Stats for
                        <h4 class="info-title">
                            HOMEPAGE</h4>
                    </a>
                    {{/if}}

                </li>
                <li class="nav-item col-3">
                    {{#if promotedSearch}}
                    <a class="nav-link" href="#schedule-1{{tabNumber}}" role="tab" data-toggle="tab">
                        <i class="material-icons" style="font-size: 48px">
                            search
                        </i>
                        Ad Stats for
                        <h4 class="info-title">
                            SEARCHPAGE</h4>
                    </a>
                    {{else}}
                    <a class="nav-link" href="#schedule-1{{tabNumber}}" data-toggle="modal" data-target="#promoterModal">
                        <span class="badge badge-pill badge-danger">Not purchased</span>
                        <i class="material-icons" style="font-size: 48px">
                            search
                        </i>
                        Ad Stats for
                        <h4 class="info-title">
                            SEARCHPAGE</h4>
                    </a>
                    {{/if}}
                </li>
                <li class="nav-item col-3">
                    {{#if promotedRelated}}
                    <a class="nav-link" href="#tasks-1{{tabNumber}}" role="tab" data-toggle="tab">
                        <span class="badge badge-pill badge-danger">Not purchased</span>
                        <i class="material-icons" style="font-size: 48px">
                            format_list_bulleted
                        </i>
                        Ad Stats for
                        <h4 class="info-title">
                            RELATED LISTING</h4>
                    </a>
                    {{else}}
                    <a class="nav-link" href="##tasks-1{{tabNumber}}" data-toggle="modal" data-target="#promoterModal">
                        <span class="badge badge-pill badge-danger">Not purchased</span>
                        <i class="material-icons" style="font-size: 48px">
                            format_list_bulleted
                        </i>
                        Ad Stats for
                        <h4 class="info-title">
                            RELATED LISTING</h4>
                    </a>
                    {{/if}}
                </li>
            </ul>
            <div class="tab-content tab-space">
                <div class="tab-pane active" id="dashboard-1{{tabNumber}}">
                    {{#if promotedHome}}
                    <div class="row mx-3 justify-content-around">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-stats justify-content-around">
                                        <canvas id="myChart{{tabNumber}}"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-stats justify-content-around">
                                        <canvas id="myChart2{{tabNumber}}"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{else}}
                    <div class="row mx-3">
                        <small>You Don't have promoter subscription, click on above buttons to activate promoter</small>
                    </div>
                    {{/if}}
                </div>
                <div class="tab-pane" id="schedule-1{{tabNumber}}">
                    {{#if promotedSearch}}
                    <div class="row mx-3 justify-content-around">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-stats justify-content-around">
                                        <canvas id="myChart{{tabNumber}}1"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-stats justify-content-around">
                                        <canvas id="myChart2{{tabNumber}}1"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/if}}
                </div>
                <div class="tab-pane" id="tasks-1{{tabNumber}}">
                    {{#if promotedRelated}}
                    <div class="row mx-3 justify-content-around">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-stats justify-content-around">
                                        <canvas id="myChart{{tabNumber}}2"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-stats justify-content-around">
                                        <canvas id="myChart2{{tabNumber}}2"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
        <div class="tab-pane" id="pill3{{tabNumber}}">
            <div class="row m-0">
                <div class="col-md-3">
                    <ul class="nav nav-pills nav-pills-rose flex-column">
                        <li class="nav-item"><a class="nav-link" href="#sendmessage" data-toggle="tab">Send
                                Messages</a></li>
                        <li class="nav-item"><a class="nav-link active" href="#groupchats" data-toggle="tab">Group
                                Chats</a></li>
                        <li class="nav-item"><a class="nav-link" href="#messagehistory" data-toggle="tab">Message
                                History</a></li>
                    </ul>
                </div>
                <div class="col-md-9">
                    <div class="tab-content">
                        <div class="tab-pane" id="sendmessage">
                            <div class="card-body card card-profile card-plaina main-raised m-1">
                                <form class="card-body">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Type Message"
                                                rows="3"></textarea>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox">
                                                Broadcast To Entire Institute
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                </form>
                            </div>
                            <br><br>
                            <div class="card-body card card-profile card-plaina main-raised m-1">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="card-title col-12 h3">
                                            Select Students
                                        </div><br><br>
                                        <div class="media-area main-raised">
                                            <div class="media">
                                                <div class="media-body">
                                                    <input class="form-check-input" type="checkbox">
                                                    <span class="media-heading">Student-1
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </span><br>

                                                    <input class="form-check-input" type="checkbox">
                                                    <span class="media-heading">Student-2
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </span><br>

                                                    <input class="form-check-input" type="checkbox">
                                                    <span class="media-heading">Student-3
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </span><br>

                                                    <input class="form-check-input" type="checkbox">
                                                    <span class="media-heading">Student-4
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </span><br>

                                                    <input class="form-check-input" type="checkbox">
                                                    <span class="media-heading">Student-5
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </span><br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="card-title col-12 h3">
                                            Select Batches
                                        </div><br><br>
                                        <div class="media-area main-raised">
                                            <div class="media">
                                                <div class="media-body">
                                                    <input class="form-check-input" type="checkbox">
                                                    <span class="media-heading">Batch-1
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </span><br>

                                                    <input class="form-check-input" type="checkbox">
                                                    <span class="media-heading">Batch-2
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </span><br>

                                                    <input class="form-check-input" type="checkbox">
                                                    <span class="media-heading">Batch-3
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </span><br>

                                                    <input class="form-check-input" type="checkbox">
                                                    <span class="media-heading">Batch-4
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </span><br>

                                                    <input class="form-check-input" type="checkbox">
                                                    <span class="media-heading">Batch-5
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </span><br>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="button" class="btn btn-primary float-right m-4">Add Student</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane active" id="groupchats">
                        <div class="card-profile card-plaina  m-0">
                            <div class="card">
                                <div class="container">
                                    <div class="section section-comments">
                                        <div class="row">

                                            <div class="col-md-4">
                                                <div class="media-area main-raised">
                                                    <div class="media">
                                                        <a class="float-left" href="#pablo">
                                                            <div class="avatar">
                                                                <img class="media-object" src="../assets/img/faces/card-profile4-square.jpg"
                                                                    alt="...">
                                                            </div>
                                                        </a>
                                                        <div class="media-body">
                                                            <h4 class="media-heading">Group2
                                                                <span class="badge badge-default float-right">4</span><br>
                                                                <small>Latest Message Text</small>
                                                            </h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="media-area main-raised">
                                                    <div class="media">
                                                        <a class="float-left" href="#pablo">
                                                            <div class="avatar">
                                                                <img class="media-object" src="../assets/img/faces/card-profile4-square.jpg"
                                                                    alt="...">
                                                            </div>
                                                        </a>
                                                        <div class="media-body">
                                                            <h4 class="media-heading">Group2
                                                                <span class="badge badge-default float-right">4</span><br>
                                                                <small>Latest Message Text</small>
                                                            </h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="media-area main-raised">
                                                    <div class="media">
                                                        <a class="float-left" href="#pablo">
                                                            <div class="avatar">
                                                                <img class="media-object" src="../assets/img/faces/card-profile4-square.jpg"
                                                                    alt="...">
                                                            </div>
                                                        </a>
                                                        <div class="media-body">
                                                            <h4 class="media-heading">Group2
                                                                <span class="badge badge-default float-right">4</span><br>
                                                                <small>Latest Message Text</small>
                                                            </h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body card card-profile card-plaina main-raised m-1">
                            <div class="card-title col-12 float-left h3">
                                Create New Group
                            </div><br><br>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card-title col-12 h5">
                                        Add Students
                                    </div><br><br>
                                    <div class="media-area main-raised">
                                        <div class="media">
                                            <div class="media-body">
                                                <input class="form-check-input" type="checkbox">
                                                <span class="media-heading">Student-1
                                                    <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                </span><br>

                                                <input class="form-check-input" type="checkbox">
                                                <span class="media-heading">Student-2
                                                    <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                </span><br>

                                                <input class="form-check-input" type="checkbox">
                                                <span class="media-heading">Student-3
                                                    <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                </span><br>

                                                <input class="form-check-input" type="checkbox">
                                                <span class="media-heading">Student-4
                                                    <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                </span><br>

                                                <input class="form-check-input" type="checkbox">
                                                <span class="media-heading">Student-5
                                                    <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                </span><br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card-title col-12 h5">
                                        Select Batches
                                    </div><br><br>
                                    <div class="media-area main-raised">
                                        <div class="media">
                                            <div class="media-body">
                                                <input class="form-check-input" type="checkbox">
                                                <span class="media-heading">Batch-1
                                                    <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                </span><br>

                                                <input class="form-check-input" type="checkbox">
                                                <span class="media-heading">Batch-2
                                                    <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                </span><br>

                                                <input class="form-check-input" type="checkbox">
                                                <span class="media-heading">Batch-3
                                                    <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                </span><br>

                                                <input class="form-check-input" type="checkbox">
                                                <span class="media-heading">Batch-4
                                                    <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                </span><br>

                                                <input class="form-check-input" type="checkbox">
                                                <span class="media-heading">Batch-5
                                                    <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                </span><br>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-primary float-right m-4">Create Group</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="messagehistory">
                        Completely synergize resource taxing relationships via premier niche markets.
                        Professionally cultivate one-to-one customer service with robust ideas.
                        <br><br>Dynamically innovate resource-leveling customer service for state of the art
                        customer service.
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="pill4{{tabNumber}}">
            Completely synergize resource taxing relationships via premier niche markets.
            Professionally cultivate
            one-to-one customer service with robust ideas.
            <br><br>Dynamically innovate resource-leveling customer service for state of the
            art customer service.
        </div>
    </div>
</div>