<div class="tab-pane" id="tab{{tabNumber}}">
    <div class="card bg-info mt-1">
        <div class="card-body px-3">
            <h3 class="card-title text-dark">
                {{name}}
            </h3>
            <h5 class="card-title">
                Study Monitor
            </h5>
        </div>
    </div>
    <ul class="nav nav-pills nav-pills-rose">
        <li class="nav-item"><a class="nav-link active" href="#pill1{{tabNumber}}" data-toggle="tab">Settings</a></li>
        <li class="nav-item"><a class="nav-link" href="#pill2{{tabNumber}}" data-toggle="tab">Promoter</a></li>
        <li class="nav-item"><a class="nav-link" href="#pill3{{tabNumber}}" data-toggle="tab">Options</a></li>
        <li class="nav-item"><a class="nav-link" href="#pill4{{tabNumber}}" data-toggle="tab">Options</a></li>
    </ul>
    <hr>
    <div class="tab-content tab-space">
        <div class="tab-pane active" id="pill1{{tabNumber}}">
            <div class="row m-0">
                <div class="col-md-3" style="border-right: 1px solid rgba(0, 0, 0, 0.1)">
                    <ul class="nav nav-pills nav-pills-rose flex-column">
                        <li class="nav-item"><a class="nav-link active" href="#innertab1" data-toggle="tab">Courses</a></li>
                        <li class="nav-item"><a class="nav-link" href="#innertab2" data-toggle="tab">Students</a></li>
                        <li class="nav-item"><a class="nav-link" href="#innertab3" data-toggle="tab">Batches</a></li>
                        <li class="nav-item"><a class="nav-link" href="#innertab4" data-toggle="tab">Active
                                Batches</a></li>
                    </ul>
                </div>
                <div class="col-md-9">
                    <div class="tab-content">
                        <div class="tab-pane active" id="innertab1">
                            <form class="">
                                <div class="row m-0">
                                    <div class="card m-0 mb-4">
                                        <div class="row card-body">
                                            <div class="col-md-6">
                                                <div class="form-group label-floating is-empty has-rose bmd-form-group">
                                                    <input type="text" name="email" class="form-control" placeholder="Course Name">
                                                    <span class="material-input"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group label-floating is-empty has-rose bmd-form-group">
                                                    <input type="email" name="email" class="form-control" placeholder="Course Fee">
                                                    <span class="material-input"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group label-floating has-rose is-empty bmd-form-group">
                                                    <textarea name="message" class="form-control" id="exampleMessage"
                                                        rows="4" placeholder="Description(Optional)"></textarea>
                                                    <span class="material-input"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group label-floating is-empty has-rose bmd-form-group">
                                                    <label for="active-till">Active Till</label>
                                                    <input id="active-till" name="email" class="form-control" type="date"
                                                        placeholder="Active Till(Date)">
                                                    <span class="material-input"></span>
                                                </div>
                                                <br>
                                                <button type="submit" class="btn btn-round btn-rose pull-right">
                                                    ADD Courses
                                                    <div class="ripple-container"></div>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-title col-12 h3">
                                        Active Courses(3)
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card">
                                            <div class="card-body ">
                                                <h4 class="card-title">
                                                    <a href="#pablo">MBA Prep 18</a>
                                                </h4>
                                            </div>
                                            <div class="card-footer ">
                                                <div class="author">
                                                    <h6 class="card-category text-danger">
                                                        <i class="material-icons">trending_up</i>
                                                        Price 50000/-
                                                    </h6>
                                                </div>
                                                <div class="stats ml-auto">
                                                    <i class="material-icons" style="top: 0%; cursor: pointer;">delete</i>
                                                    <i class="material-icons" style="top: 0%; cursor: pointer;">edit</i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card">
                                            <div class="card-body ">
                                                <h4 class="card-title">
                                                    <a href="#pablo">MBA Prep 18</a>
                                                </h4>
                                            </div>
                                            <div class="card-footer ">
                                                <div class="author">
                                                    <h6 class="card-category text-danger">
                                                        <i class="material-icons">trending_up</i>
                                                        Price 50000/-
                                                    </h6>
                                                </div>
                                                <div class="stats ml-auto">
                                                    <i class="material-icons" style="top: 0%; cursor: pointer;">delete</i>
                                                    <i class="material-icons" style="top: 0%; cursor: pointer;">edit</i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card">
                                            <div class="card-body ">
                                                <h4 class="card-title">
                                                    <a href="#pablo">MBA Prep 18</a>
                                                </h4>
                                            </div>
                                            <div class="card-footer ">
                                                <div class="author">
                                                    <h6 class="card-category text-danger">
                                                        <i class="material-icons">trending_up</i>
                                                        Price 50000/-
                                                    </h6>
                                                </div>
                                                <div class="stats ml-auto">
                                                    <i class="material-icons" style="top: 0%; cursor: pointer;">delete</i>
                                                    <i class="material-icons" style="top: 0%; cursor: pointer;">edit</i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-title col-12 h3">
                                        Inactive Courses(1)
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card">
                                            <div class="card-body ">
                                                <h4 class="card-title">
                                                    <a href="#pablo">MBA Prep 18</a>
                                                </h4>
                                            </div>
                                            <div class="card-footer ">
                                                <div class="author">
                                                    <h6 class="card-category text-danger">
                                                        <i class="material-icons">trending_up</i>
                                                        Price 50000/-
                                                    </h6>
                                                </div>
                                                <div class="stats ml-auto">
                                                    <i class="material-icons" style="top: 0%; cursor: pointer;">delete</i>
                                                    <i class="material-icons" style="top: 0%; cursor: pointer;">edit</i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <br><br>
                        </div>
                        <div class="tab-pane" id="innertab2">
                            <div class="card card-profile card-plaina main-raised m-0">
                                <div class="row card-body">
                                    <div class="col-md-6">
                                        <h4 class="card-title text-left">Bulk Upload</h4>
                                        <p class="description text-left">use the excel template
                                            to bulk
                                            Upload your student data please do not edit
                                            template</p>
                                    </div>
                                    <div class="col-md-5">
                                        <button class="btn btn-round btn-rose">Download
                                            Template</button>
                                        <button class="btn btn-round btn-rose">Upload Template</button>
                                    </div>
                                </div>
                            </div>
                            <br>


                            <div class="card card-profile main-raised m-0">
                                <div class="card-body text-left has-rose">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h4 class="card-title">Auto Fields</h4>
                                            <input type="text" value="" placeholder="-EA Membership number" class="form-control" />
                                            <h4 class="card-title">Compulsory Fields</h4>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <input type="text" value="" placeholder="Student Roll No." class="form-control" />
                                                </div>
                                                <div class="col-md-4">
                                                    <input type="text" value="" placeholder="Student Name" class="form-control" />
                                                </div>
                                                <div class="col-md-4">
                                                    <input type="text" value="" placeholder="Student E-mail" class="form-control" />
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-12">
                                            <h4 class="card-title">Additional Fields</h4>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <input type="text" value="" placeholder="Address" class="form-control" />
                                                </div>
                                                <div class="col-md-6">
                                                    <input type="text" value="" placeholder="Contact No." class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <h4 class="card-title">Payment Details</h4>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <input type="text" value="" placeholder="-Product Name" class="form-control" />
                                                </div>
                                                <div class="col-md-4">
                                                    <input type="text" value="" placeholder="-Products Fees" class="form-control" />
                                                </div>
                                                <div class="col-md-4">
                                                    <input type="text" value="" placeholder="-Discount Amount Given"
                                                        class="form-control" />
                                                </div>
                                                <div class="col-md-4">
                                                    <input type="text" value="" placeholder="-Discount Reason" class="form-control" />
                                                </div>
                                                <div class="col-md-4">
                                                    <input type="text" value="" placeholder="-Net Fee" class="form-control" />
                                                </div>
                                                <div class="col-md-4">
                                                    <input type="text" value="" placeholder="-Fee Collected" class="form-control" />
                                                </div>
                                                <div class="col-md-4">
                                                    <input type="text" value="" placeholder="-Mode Of Payment" class="form-control" />
                                                </div>
                                                <div class="col-md-4">
                                                    <input type="text" value="" placeholder="-Balance Pending" class="form-control" />
                                                </div>
                                                <div class="col-md-4">
                                                    <input type="text" value="" placeholder="-next installment details"
                                                        class="form-control" />
                                                </div>
                                                <div class="col-md-4">
                                                    <input type="text" value="" placeholder="-print receipt" class="form-control" />
                                                </div>
                                                <div class="col-md-4">
                                                    <input type="text" value="" placeholder="-add to batch code" class="form-control" />
                                                </div>
                                                <div class="col-md-12 mt-3">
                                                    <button class="btn btn-round btn-rose">ADD
                                                        STUDENTS</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class=" card-title col-12 h3">
                                    Active Students(143)
                                </div>
                                <div class="container">
                                    <div class="section section-comments">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="media-area main-raised">
                                                    <div class="media">
                                                        <a class="float-left" href="#pablo">
                                                            <div class="avatar">
                                                                <img class="media-object" src="../assets/img/faces/card-profile4-square.jpg"
                                                                    alt="...">
                                                            </div>
                                                        </a>
                                                        <div class="media-body">
                                                            <h4 class="media-heading">Prashant
                                                                Gupta<br>
                                                                <small>joined on 2017</small>
                                                            </h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="media-area main-raised">
                                                    <div class="media">
                                                        <a class="float-left" href="#pablo">
                                                            <div class="avatar">
                                                                <img class="media-object" src="../assets/img/faces/card-profile4-square.jpg"
                                                                    alt="...">
                                                            </div>
                                                        </a>
                                                        <div class="media-body">
                                                            <h4 class="media-heading">Prashant
                                                                Gupta<br>
                                                                <small>joined on 2017</small>
                                                            </h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="media-area main-raised">
                                                    <div class="media">
                                                        <a class="float-left" href="#pablo">
                                                            <div class="avatar">
                                                                <img class="media-object" src="../assets/img/faces/card-profile4-square.jpg"
                                                                    alt="...">
                                                            </div>
                                                        </a>
                                                        <div class="media-body">
                                                            <h4 class="media-heading">Prashant
                                                                Gupta<br>
                                                                <small>joined on 2017</small>
                                                            </h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="innertab3">
                            Completely synergize resource taxing relationships via premier
                            niche markets.
                            Professionally cultivate one-to-one customer service with robust
                            ideas.
                            <br><br>Dynamically innovate resource-leveling customer service for
                            state of the art
                            customer service.
                        </div>
                        <div class="tab-pane" id="innertab4">
                            Completely synergize resource taxing relationships via premier
                            niche markets.
                            Professionally cultivate one-to-one customer service with robust
                            ideas.
                            <br><br>Dynamically innovate resource-leveling customer service for
                            state of the art
                            customer service.
                        </div>
                    </div>
                </div>
            </div>
            <br><br>
        </div>
        <div class="tab-pane" id="pill2{{tabNumber}}">
            <ul class="nav nav-pills nav-pills-rose nav-pills-icons" role="tablist">
                <li class="nav-item col-3">
                    {{#if promotedHome}}
                    <a class="nav-link active" href="#dashboard-1{{tabNumber}}" role="tab" data-toggle="tab">
                        <i class="material-icons" style="font-size: 48px">
                            home
                        </i>
                        Ad Stats for
                        <h4 class="info-title">
                            HOMEPAGE</h4>
                    </a>
                    {{else}}
                    <a class="nav-link disabled" href="#dashboard-1{{tabNumber}}" role="tab" data-toggle="tab">
                        <span class="badge badge-pill badge-danger">Not purchased</span>
                        <i class="material-icons" style="font-size: 48px">
                            home
                        </i>
                        Ad Stats for
                        <h4 class="info-title">
                            HOMEPAGE</h4>
                    </a>
                    {{/if}}

                </li>
                <li class="nav-item col-3">
                    <a class="nav-link" href="#schedule-1{{tabNumber}}" role="tab" data-toggle="tab">
                        <i class="material-icons" style="font-size: 48px">
                            search
                        </i>
                        Ad Stats for
                        <h4 class="info-title">
                            SEARCHPAGE</h4>
                    </a>
                </li>
                <li class="nav-item col-3">
                    <a class="nav-link disabled" href="#tasks-1{{tabNumber}}" role="tab" data-toggle="tab">
                        <span class="badge badge-pill badge-danger">Not purchased</span>
                        <i class="material-icons" style="font-size: 48px">
                            format_list_bulleted
                        </i>
                        Ad Stats for
                        <h4 class="info-title">
                            RELATED LISTING</h4>
                    </a>
                </li>
            </ul>
            <div class="tab-content tab-space">
                <div class="tab-pane active" id="dashboard-1{{tabNumber}}">
                    <div class="row mx-3 justify-content-around">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-stats justify-content-around">
                                        <canvas id="myChart{{tabNumber}}"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-stats justify-content-around">
                                        <canvas id="myChart2{{tabNumber}}"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="schedule-1{{tabNumber}}">
                    <div class="container">
                        Efficiently unleash cross-media information without cross-media value.
                        Quickly maximize timely deliverables for real-time schemas.
                        <br><br>Dramatically maintain clicks-and-mortar solutions without
                        functional solutions.
                    </div>
                </div>
                <div class="tab-pane" id="tasks-1{{tabNumber}}">
                    Completely synergize resource taxing relationships via premier niche
                    markets. Professionally cultivate one-to-one customer service with robust
                    ideas.
                    <br><br>Dynamically innovate resource-leveling customer service for state
                    of the art customer service.
                </div>
            </div>
        </div>
        <div class="tab-pane" id="pill3{{tabNumber}}">
            Completely synergize resource taxing relationships via premier niche markets.
            Professionally cultivate
            one-to-one customer service with robust ideas.
            <br><br>Dynamically innovate resource-leveling customer service for state of the
            art customer service.
        </div>
        <div class="tab-pane" id="pill4{{tabNumber}}">
            Completely synergize resource taxing relationships via premier niche markets.
            Professionally cultivate
            one-to-one customer service with robust ideas.
            <br><br>Dynamically innovate resource-leveling customer service for state of the
            art customer service.
        </div>
    </div>
</div>