{{#if col4}}
<div class="col-md-4" id="{{_id}}">
    {{/if}}
    <div class="media-area main-raised m-3">
        <div class="media">
            <a class="float-left" href="#pablo">
                <div class="avatar">
                    <img class="media-object" src="../assets/img/logo.png" alt="...">
                </div>
            </a>
            <div class="media-body" style="overflow: hidden">
                <h5 class="media-heading mb-0 pb-0">{{name}}
                </h5>
                <small class="text-danger">{{rollNumber}}</small>
                <div class="stats ml-auto text-secondary">
                    <i class="material-icons delete-student-btn" style="top: 0%; cursor: pointer;" data-id="{{_id}}"
                        data-tuition="{{tuitionId}}">delete</i>
                    <i class="material-icons" style="top: 0%; cursor: pointer;">edit</i>
                </div>
            </div>
        </div>
    </div>
    {{#if col4}}
</div>
{{/if}}