<div class="row p-3">
    <div class="col-md-3 font-weight-bold">Course Name:</div>
    <div class="col-md-3"><input class="w-100" name="courseCode" type="text" value="{{courseCode}}"></div>
    <div class="col-md-3 font-weight-bold">
        Course Fee:
    </div>
    <div class="col-md-3">
        <input class="w-100" type="number" name="courseFee" value="{{courseFee}}">
    </div>
    <div class="col-md-3 font-weight-bold">
        Discount Amount:
    </div>
    <div class="col-md-3">
        <input class="w-100" type="number" name="discountAmount" value="{{discountAmount}}">
    </div>
    <div class="col-md-3 font-weight-bold">
        Discount Reason:
    </div>
    <div class="col-md-3">
        <input class="w-100" type="text" name="discountReason" value="{{discountReason}}">
    </div>
    {{!-- <div class="col-md-3 font-weight-bold">
        Net Fee:
    </div>
    <div class="col-md-3">
        <input class="w-100" type="number" value="">
    </div> --}}
    {{!-- <div class="col-md-3 font-weight-bold">
        Pending Balance:
    </div>
    <div class="col-md-3">
        <input class="w-100" type="number">
    </div> --}}
    <div class="col-md-3 font-weight-bold">
        Next Installment Date:
    </div>
    <div class="col-md-3">
        <input class="w-100" name="nextInstallmentDate" type="date" value="{{nextInstallmentDate}}">
    </div>
</div>