<div class="row card-body">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6 form-group label-floating is-empty  bmd-form-group">
                <label for="bmd-label-floating">Business Name</label>
                <input name="recieptConfigBusinessName" class="form-control business-name-inp" type="text" value="{{recieptConfigBusinessName}}"
                    data-tuition-id="{{_id}}" required>
                <span class="material-input"></span>
            </div>
            <div class="col-md-6 form-group label-floating is-empty bmd-form-group">
                <label for="bmd-label-floating">Address Line 1</label>
                <input name="recieptConfigAddressLine1" class="form-control receipt-addressLine1" type="text" value="{{recieptConfigAddressLine1}}"
                    data-tuition-id="{{_id}}">
            </div>
            <div class="col-md-6 form-group label-floating is-empty bmd-form-group">
                <label for="bmd-label-floating">Address Line 2</label>
                <input name="recieptConfigAddressLine2" class="form-control receipt-addressLine2" type="text" value="{{recieptConfigAddressLine2}}"
                    data-tuition-id="{{_id}}">
            </div>
            <div class="col-md-6 form-group label-floating is-empty bmd-form-group">
                <label for="bmd-label-floating">City</label>
                <input name="recieptConfigCity" class="form-control receipt-city" type="text" value="{{recieptConfigCity}}"
                    data-tuition-id="{{_id}}">
            </div>
            <div class="col-md-6 form-group label-floating is-empty bmd-form-group">
                <label for="bmd-label-floating">State</label>
                <input name="recieptConfigState" class="form-control receipt-state" type="text" value="{{recieptConfigState}}"
                    data-tuition-id="{{_id}}">
            </div>
            <div class="col-md-6 form-group label-floating is-empty bmd-form-group">
                <label for="bmd-label-floating">Pin Code</label>
                <input name="recieptConfigPinCode" class="form-control receipt-pin" type="text" value="{{recieptConfigPinCode}}"
                    data-tuition-id="{{_id}}">
            </div>
            <div class="col-md-6 form-group label-floating is-empty bmd-form-group">
                <label for="bmd-label-floating">Tax ID/ GST No.</label>
                <input name="recieptConfigGstNumber" class="form-control receipt-tax-id" type="text" value="{{recieptConfigGstNumber}}"
                    data-tuition-id="{{_id}}">
            </div>
            <div class="col-md-12 form-group label-floating is-empty bmd-form-group">
                <button type="submit" class="btn btn-round btn-success pull-right">
                    Save/Update
                    <div class="ripple-container"></div>
                </button>
            </div>
        </div>
    </div>
</div>