{{#each schedules as |value key|}}
<div class="card">
    <div class="card-body">
        {{!-- FIXME: access batchCode efficiently --}}
        <div class="card-title">{{#each value}}{{#if @first}}{{batchCode}}{{/if}}{{/each}}</div>
        <div class="card-title text-info">WEEK: {{@key}}</div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-12">
                        <table class="table mb-0">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>From Time</th>
                                    <th>To Time</th>
                                    <th>Topic</th>
                                    <th>Faculty</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each value as |scheduleArr|}}
                                <tr id="{{_id}}">
                                    <td>{{classDate}}</td>
                                    <td>{{fromTime}}</td>
                                    <td>{{toTime}}</td>
                                    <td>{{topic}}</td>
                                    <td>{{faculty}}</td>
                                    <td>
                                        <i class="material-icons delete-schedule-btn" style="top: 0%; cursor: pointer;"
                                            data-schedule-id="{{_id}}" data-tuition-id="{{tuitionId}}"
                                            data-course-id="{{courseId}}" data-batch-id="{{batchId}}">delete</i>
                                        <i class="material-icons schedule-edit" style="top: 0%; cursor: pointer;"
                                            data-schedule-id="{{_id}}" data-tuition-id="{{tuitionId}}"
                                            data-course-id="{{courseId}}" data-batch-id="{{batchId}}">edit</i>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/each}}