<div class="row m-3">
    <div class="col-2 schedule-col">
        <div class="form-group">
            <label for="schedule_date">Date</label>
            <input id="schedule_date" name="date" type="text" class="form-control edit-date-picker" value="{{date}}" />
        </div>
    </div>
    <div class="col-2 schedule-col">
        <label for="schedule_fromtime">From Time</label>
        <input id="schedule_fromtime" name="fromTime" type="text" class="form-control edit-time-picker" value="{{fromTime}}" />
    </div>
    <div class="col-2 schedule-col">
        <label for="schedule_totime">To Time</label>
        <input id="schedule_totime" name="toTime" type="text" class="form-control edit-time-picker" value="{{toTime}}" />
    </div>
    <div class="col-3 schedule-col">
        <label for="schedule_topic">Topic</label>
        <input id="schedule_topic" type="text" name="topic" class="form-control" value="{{topic}}" />
    </div>
    <div class=" col-3 schedule-col">
        <label for="schedule_faculty">Faculty</label>
        <input id="schedule_faculty" type="text" name="faculty" class="form-control" value="{{faculty}}" />
    </div>
</div>