{{#each students as |student|}}
<tr>
    <td class="text-center">{{@index}}</td>
    <td>{{name}}</td>
    <td>{{rollNumber}}</td>
    <td>{{email}}</td>
    <td>
        <input name="absentees" type="checkbox" class="student-absent" value="{{_id}}">
    </td>
</tr>
{{/each}}