<div class="text-left has-rose m-3">
    <div class="row">
        <div class="col-md-12">
            <h4 class="card-title">Compulsory Fields</h4>
            <div class="row">
                <div class="col-md-4">
                    <label for="student_rollNumber">Roll Number</label>
                    <input id="student_rollNumber" name="rollNumber" type="text" placeholder="Student Roll No." class="form-control"
                        value="{{rollNumber}}" required>
                </div>
                <div class="col-md-4">
                    <label for="student_name">Name</label>
                    <input id="student_name" name="name" type="text" placeholder="Student Name" class="form-control"
                        value="{{name}}" required>
                </div>
                <div class="col-md-4">
                    <label for="student_email">Email</label>
                    <input id="student_email" name="email" type="email" placeholder="Student E-mail" class="form-control"
                        value="{{email}}" required>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <h4 class="card-title">Additional Fields</h4>
            <div class="row">
                <div class="col-md-6">
                    <label for="student_address">Address</label>
                    <input id="student_address" name="address" type="text" class="form-control" value="{{address}}" />
                </div>
                <div class="col-md-6">
                    <label for="student_contact_number">Contact Number</label>
                    <input id="student_contact_number" name="contactNumber" type="number" class="form-control" value="{{contactNumber}}" />
                </div>
            </div>
        </div>
    </div>
</div>