{{#each students}}
<div class="col-md-4" id="{{_id}}">
    <div class="media-area main-raised m-3">
        <div class="media">
            <a class="float-left" href="#pablo">
                <div class="avatar">
                    <img class="media-object" src="../assets/img/logo.png" alt="...">
                </div>
            </a>
            <div class="media-body" style="overflow: hidden">
                <h5 class="media-heading mb-0 pb-0">{{name}}
                </h5>
                <p class="card-text mb-0" style="overflow: hidden;text-overflow: ellipsis;max-height: 30px">
                    <small class="text-secondary">R. No. :</small>
                    <small class="text-danger">{{rollNumber}}</small>
                </p>
                <p class="card-text mb-0" style="overflow: hidden;text-overflow: ellipsis;max-height: 30px">
                    <small class="text-secondary">Ph. No. :</small>
                    <small class="text-danger">{{contactNumber}}</small>
                </p>
                {{!-- <small class="text-danger">{{rollNumber}}</small> --}}
                <div class="card-footer p-0 mb-3">
                    <div class="stats ml-auto text-secondary">
                        <i class="material-icons delete-student-btn" style="top: 0%; cursor: pointer;font-size:18px"
                            data-student-id="{{_id}}" data-tuition-id="{{tuitionId}}">delete</i>
                        <i class="material-icons student-edit" style="top: 0%; cursor: pointer;font-size:18px"
                            data-student-id="{{_id}}" data-tuition-id="{{tuitionId}}">edit</i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/each}}