{{!-- {{#each students}}
<input name="students" type="checkbox" value="{{_id}}">
<span class="media-heading">{{name}}
    <span class="form-check-sign">
        <span class="check"></span>
    </span>
</span><br>
{{/each}} --}}

<table class="table">
    <thead>
        <tr>
            <th class="text-center">#</th>
            <th><small>Name</small></th>
            <th><small>Roll Number</small></th>
            <th><small>Email</small></th>
            <th><small>Add</small></th>
        </tr>
    </thead>
    <tbody>
        {{#each students as |student|}}
        <tr id="{{randomId}}">
            <td class="text-center p-0">{{inc @index}}</td>
            <td class="p-0 text-capitalize">{{student.name}}</td>
            <td class="p-0">{{student.rollNumber}}</td>
            <td class="p-0">{{student.email}}</td>
            <td class="p-0">
                <input type="checkbox" name="students" value="{{student._id}}">
            </td>
        </tr> {{/each}} </tbody>
</table>