<h2 class="card-title h3">Social Connect:</h2>

<div class="row">
    <div class="form-group col-12">
        <label for="fbLink" class="bmd-label-floating">Facebook Link</label>
        <input type="text" class="form-control" id="fbLink" name="fbLink" value="{{fbLink}}">
    </div>
</div>

<div class="row">
    <div class="form-group col-12">
        <label for="twitterLink" class="bmd-label-floating">Twitter Link</label>
        <input type="text" class="form-control" id="twitterLink" name="fbLink" value="{{twitterLink}}">
    </div>
</div>

<div class="row">
    <div class="form-group col-12">
        <label for="youtubeLink" class="bmd-label-floating">Youtube Link</label>
        <input type="text" class="form-control" id="youtubeLink" name="youtubeLink" value="{{youtubeLink}}">
    </div>
</div>

<div class="row">
    <div class="form-group col-12">
        <label for="instaLink" class="bmd-label-floating">Instagram Link</label>
        <input type="text" class="form-control" id="instaLink" name="instaLink" value="{{instaLink}}">
    </div>
</div>

<div class="row">
    <div class="form-group col-12">
        <label for="linkedinLink" class="bmd-label-floating">LinkedIn
            Link</label>
        <input type="text" class="form-control" id="linkedinLink" name="linkedinLink" value="{{linkedinLink}}">
    </div>
</div>