{{#each results}}
    <div class="col-4" id="{{_id}}">
        <div class="card">
            <span style="position: absolute;left: 92%;top: -6%;">
                <!-- send (_id of result obj received , id of card) as arguments for function deleteResult()-->
                <button class="btn btn-danger btn-fab btn-fab-mini btn-round deleteBtn delete-result-button"
                        data-result-id="{{_id}}" data-title="{{title}}">
                    <i class="material-icons">
                        delete
                    </i>
                </button>
            </span>
            <img class="card-img-top" src="images/{{img_path}}" alt="">
            <div class="card-body">
                <div class="card-title">
                    {{title}}
                </div>
                <p class="card-text">{{description}}</p>
            </div>
        </div>
    </div>
{{/each}}