{{#each courses}}
    <div class="col-4" id="{{_id}}">
        <div class="card">
            <span style="position: absolute;left: 92%;top: -6%;">
                <!-- send title of course and id of card in function deleteCourse()-->
                <button class="btn btn-danger btn-fab btn-fab-mini btn-round deleteBtn delete-course-button"
                        data-course-id="{{_id}}" data-title="{{title}}">
                    <i class="material-icons">
                        delete
                    </i>
                </button>
            </span>
            <div class="card-body">
                <h4 class="card-title">{{title}}</h4>
                <h6 class=" mb-2 text-muted">Standard/Age Group</h6>
                <h6 class="card-text">{{ageGroup}}</h6>
                <hr>
                <h6 class=" mb-2 text-muted">Duration</h6>
                <h6 class="card-text">{{duration}}</h6>
                <hr>
                <h6 class=" mb-2 text-muted">Fee</h6>
                <h6 class="card-text">INR {{fee}}</h6>
                <hr>
            </div>
            <h4 class="card-header card-header-info">Next Batch - {{nextBatch}}</h4>
        </div>
    </div>
{{/each}}