<div class="card">
    <div class="card-body">
        <h2 class="card-title h3">Basic Details:</h2>
        <div class="row align-items-center">
            <div class="col-md-3">
                <h6>Institute Name</h6>
            </div>
            <div class="col-md-9">
                <input id="tName" value="{{name}}" class="form-control" type="text"
                       name="name">
            </div>

        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <h6>Address</h6>
                </div>
                <div class="row form-group">
                    <label for="al1">Address Line 1</label>
                    <input class="form-control" value="{{addressLine1}}" type="text"
                           id="al1" name="addressLine1">
                </div>
                <div class="row form-group">
                    <label for="al2">Address Line 2</label>
                    <input class="form-control" value="{{addressLine2}}" type="text"
                           id="al2" name="addressLine2">
                </div>
                <div class="row form-group">
                    <label for="city">City</label>
                    <input class="form-control" value="{{city}}" type="text"
                           id="city"
                           name="city">
                </div>
                <div class="row form-group">
                    <label for="dist">District</label>
                    <input class="form-control" value="{{district}}" type="text"
                           id="dist"
                           name="district">
                </div>
                <div class="row form-group">
                    <label for="state">State</label>
                    <input class="form-control" value="{{state}}" type="text"
                           id="state"
                           name="state">
                </div>
                <div class="row form-group">
                    <label for="country">Country</label>
                    <input class="form-control" value="{{country}}" type="text"
                           id="country"
                           name="country">
                </div>
                <div class="row form-group">
                    <label for="pin">Pin</label>
                    <input class="form-control" value="{{pin}}" type="number"
                           id="pin"
                           name="pin">
                </div>


            </div>
        </div>

    </div>
</div>